.article-comments .privacy input[type='checkbox'] + label::before, .article-comments .privacy input[type='checkbox']:checked + label::after {
  content: '';
  position: absolute; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

header {
  background-image: none; }
  header .header-main {
    padding-bottom: 200px; }
    header .header-main .item__date {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      font: 12px/1.22 "ProximaNovaBold";
      text-transform: uppercase;
      letter-spacing: .1em; }

main {
  position: relative;
  background-image: none;
  background-color: #fff;
  overflow: initial; }
  main .content {
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px); }

.article__img-block {
  width: 100%;
  max-height: 575px;
  margin-bottom: 32px; }
  .article__img-block .article__img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.article__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 32px 104px;
  margin-bottom: 48px; }
  .article__content .content__links {
    min-width: 130px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .article__content .article__all-posts {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 8px 18px;
    margin-bottom: 32px;
    border: 1px solid #30353A;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font: 10px/1.22 "ProximaNovaBold";
    color: #30353A;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    white-space: nowrap;
    -webkit-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all; }
    .article__content .article__all-posts:hover {
      -webkit-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1); }
    .article__content .article__all-posts .link-text {
      margin-left: 15px; }
  .article__content .article__author {
    width: 100%;
    margin-top: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .article__content .article__author .name-post-wrapper {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
  .article__content .written-by {
    display: block;
    margin-bottom: 8px;
    font: 9px/1.22 "ProximaNovaBold";
    color: #30353A;
    text-transform: uppercase;
    letter-spacing: 0.1em; }
  .article__content .author__image {
    display: block;
    width: 48px;
    height: 48px;
    margin-bottom: 8px; }
    .article__content .author__image .author__photo {
      width: 48px;
      height: 48px; }
  .article__content .author__linkedin path {
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all; }
  .article__content .author__linkedin:hover path {
    fill-opacity: 1; }
  .article__content .author__name,
  .article__content .author__post {
    font: 14px/1.22 "ProximaNovaRegular";
    color: #30353A;
    margin-bottom: 4px; }
  .article__content .author__post {
    font-size: 12px;
    margin-bottom: 10px; }
  .article__content .article__share-list {
    margin-top: 64px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .article__content .article__share-item {
    width: 100%;
    margin-bottom: 8px;
    -webkit-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all; }
    .article__content .article__share-item:hover {
      -webkit-transform: scale(1.1, 1.1);
          -ms-transform: scale(1.1, 1.1);
              transform: scale(1.1, 1.1); }
  .article__content .article__share-link {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    padding: 8px 17px; }
    .article__content .article__share-link .share__svg {
      width: 16px;
      height: 16px; }
    .article__content .article__share-link .share__text {
      display: block;
      padding-top: 2px;
      margin-left: auto;
      font: 9px/1.22 "ProximaNovaBold";
      letter-spacing: 0.1em;
      color: #fff;
      text-transform: uppercase; }
    .article__content .article__share-link.article__share-link--facebook {
      background: #3A5897; }
    .article__content .article__share-link.article__share-link--twitter {
      background: #1DA1F2; }
      .article__content .article__share-link.article__share-link--twitter .share__svg {
        -webkit-transform: translateY(2px);
            -ms-transform: translateY(2px);
                transform: translateY(2px); }
    .article__content .article__share-link.article__share-link--linkedin {
      background: #0077B5; }
      .article__content .article__share-link.article__share-link--linkedin .share__svg {
        -webkit-transform: translateY(-2px);
            -ms-transform: translateY(-2px);
                transform: translateY(-2px); }
    .article__content .article__share-link.article__share-link--telegram {
      background: #179CDE; }
  .article__content .content__text {
    padding-left: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    .article__content .content__text .content-list {
      width: 100%;
      list-style: circle;
      list-style-type: circle;
      padding-left: 16px; }
      .article__content .content__text .content-list li {
        display: list-item;
        width: 100%;
        margin-bottom: 16px;
        font: 20px/1.22 "ProximaNovaRegular";
        color: #000000;
        text-align: left; }
    .article__content .content__text .article__image {
      min-width: 100%;
      max-width: 353px;
      margin-bottom: 32px; }
    .article__content .content__text .share-list__wrapper {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .article__content .content__text .share-list__wrapper .wrapper-text {
        max-width: 125px;
        width: 100%;
        padding-right: 10px;
        font: 12px/1.22 "ProximaNovaRegular";
        color: #000;
        text-align: left; }
    .article__content .content__text .article__share-list {
      margin-top: 0;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .article__content .content__text .article__share-item {
      max-width: 92px;
      width: 100%;
      margin-right: 16px;
      margin-bottom: 0; }
      .article__content .content__text .article__share-item:last-child {
        margin-right: 0; }
  .article__content .article__heading {
    display: block;
    font: 24px/1.22 "ProximaNovaBold";
    margin-bottom: 24px;
    color: rgba(0, 0, 0, 0.87);
    text-align: left; }
  .article__content .article__text {
    font: 20px/1.44 "ProximaNovaRegular";
    margin-bottom: 24px;
    color: rgba(0, 0, 0, 0.87);
    text-align: justify;
    margin-bottom: 32px; }

.article-comments {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 104px;
  padding-right: 104px;
  padding-bottom: 24px; }
  .article-comments .comments__item:last-child, .article-comments .comments__item:first-child {
    border-top: 1px solid #E8E8E8; }
  .article-comments .comments-heading {
    font: 26px/1.22 "MerriweatherRegular";
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 32px;
    padding-left: 24px; }
  .article-comments .comment__block {
    padding: 32px 24px; }
  .article-comments .reply__block {
    border-top: 1px solid #E8E8E8;
    padding-left: 64px; }
  .article-comments .item__topline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
  .article-comments .item__author-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 16px; }
  .article-comments .info__author-name {
    display: block;
    margin-bottom: 8px;
    font: 24px/1.22 "ProximaNovaRegular";
    color: #222222; }
  .article-comments .info__comment-date {
    display: block;
    font: 12px/1.22 "ProximaNovaRegular";
    color: #222222;
    text-transform: uppercase;
    letter-spacing: 0.06em; }
  .article-comments .item__reply {
    margin-left: auto;
    font: 9px/1.22 "ProximaNovaBold";
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.38);
    cursor: pointer;
    -webkit-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all; }
    .article-comments .item__reply:hover {
      color: #000; }
  .article-comments .item__text {
    margin-top: 24px;
    font: 17px/1.44 "Arial";
    padding-left: 64px;
    color: #222222;
    text-align: left; }
  .article-comments .form-heading {
    margin-top: 32px; }
  .article-comments .comments__form-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #E8E8E8; }
  .article-comments .comments__form {
    max-width: 400px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0px auto; }
    .article-comments .comments__form .form__input {
      width: 100%;
      padding: 8px 16px;
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.38);
      margin-bottom: 16px;
      font: 14px/1.22 "ProximaNovaRegular";
      color: rgba(0, 0, 0, 0.6);
      outline: none; }
      .article-comments .comments__form .form__input:hover {
        border-color: #000;
        color: #000; }
    .article-comments .comments__form .form__input:hover::-webkit-input-placeholder {
      color: #000; }
    .article-comments .comments__form .form__input:hover::-moz-placeholder {
      color: #000; }
    .article-comments .comments__form .form__input:hover:-ms-input-placeholder {
      color: #000; }
    .article-comments .comments__form .form__input:hover::-ms-input-placeholder {
      color: #000; }
    .article-comments .comments__form .form__input:hover::placeholder {
      color: #000; }
    .article-comments .comments__form .form__input::-webkit-input-placeholder {
      font: 14px/1.22 "ProximaNovaRegular";
      color: rgba(0, 0, 0, 0.6); }
    .article-comments .comments__form .form__input::-moz-placeholder {
      font: 14px/1.22 "ProximaNovaRegular";
      color: rgba(0, 0, 0, 0.6); }
    .article-comments .comments__form .form__input:-ms-input-placeholder {
      font: 14px/1.22 "ProximaNovaRegular";
      color: rgba(0, 0, 0, 0.6); }
    .article-comments .comments__form .form__input::-ms-input-placeholder {
      font: 14px/1.22 "ProximaNovaRegular";
      color: rgba(0, 0, 0, 0.6); }
    .article-comments .comments__form .form__input::placeholder {
      font: 14px/1.22 "ProximaNovaRegular";
      color: rgba(0, 0, 0, 0.6); }
    .article-comments .comments__form .form__textarea {
      width: 100%;
      min-height: 115px;
      padding: 8px 16px;
      margin-top: 8px;
      font: 14px/1.22 "ProximaNovaRegular";
      color: rgba(0, 0, 0, 0.6);
      -webkit-border-radius: 4px;
              border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.38);
      resize: none; }
      .article-comments .comments__form .form__textarea:hover {
        border-color: #000;
        color: #000; }
    .article-comments .comments__form .form__textarea:hover::-webkit-input-placeholder {
      color: #000; }
    .article-comments .comments__form .form__textarea:hover::-moz-placeholder {
      color: #000; }
    .article-comments .comments__form .form__textarea:hover:-ms-input-placeholder {
      color: #000; }
    .article-comments .comments__form .form__textarea:hover::-ms-input-placeholder {
      color: #000; }
    .article-comments .comments__form .form__textarea:hover::placeholder {
      color: #000; }
    .article-comments .comments__form .form__bottom {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .article-comments .comments__form .form__bottom .small-text {
        cursor: pointer;
        margin-top: 0; }
        .article-comments .comments__form .form__bottom .small-text:hover {
          color: #000; }
        .article-comments .comments__form .form__bottom .small-text:before {
          top: -2px; }
  .article-comments .privacy {
    padding: 8px;
    color: rgba(0, 0, 0, 0.6); }
    .article-comments .privacy input[type='checkbox'] {
      display: none; }
      .article-comments .privacy input[type='checkbox'] + label::before {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(0, 0, 0, 0.38);
        -webkit-border-radius: 4px;
                border-radius: 4px;
        left: 0px;
        top: 0; }
      .article-comments .privacy input[type='checkbox']:checked + label::after {
        width: 16px;
        height: 16px;
        background-image: url("../img/svg-icons/checked.svg");
        top: 0;
        left: 1px;
        background-repeat: no-repeat;
        background-position: center center; }
    .article-comments .privacy label {
      display: block;
      max-width: 254px;
      position: relative;
      padding-left: 34px;
      margin-top: 35px; }
      .article-comments .privacy label a {
        color: rgba(0, 0, 0, 0.87); }

.other-articles {
  padding-top: 48px;
  margin-bottom: 32px; }
  .other-articles .block-title {
    color: #000; }
  .other-articles .other-articles__list {
    margin-top: 32px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .other-articles .other-articles__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: -webkit-calc(50% - 12px);
    width: calc(50% - 12px);
    margin-bottom: 24px;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    background: #fff;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    overflow: hidden; }
    .other-articles .other-articles__item:first-child {
      margin-right: 24px; }
  .other-articles .item__image-wrapper {
    max-width: 230px;
    min-width: 200px;
    width: 100%;
    position: relative; }
    .other-articles .item__image-wrapper .item__image {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      -o-object-fit: cover;
         object-fit: cover; }
  .other-articles .item__content {
    padding: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .other-articles .item__date {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    font: 10px/1.22 "ProximaNovaBold";
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: left;
    color: rgba(0, 0, 0, 0.38); }
  .other-articles .item__heading {
    display: block;
    font: 22px/1.22 "MerriweatherBold";
    letter-spacing: 0.04em;
    color: #43484C;
    text-align: left;
    margin-bottom: 16px;
    -webkit-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all; }
    .other-articles .item__heading:hover {
      color: #000000; }
  .other-articles .item__description {
    color: #30353A;
    font: 14px/1.22 "ProximaNovaRegular";
    text-align: left; }
  .other-articles .item__readmore {
    margin-top: 52px;
    margin-left: auto;
    font: 10px/1.22 "ProximaNovaBold";
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    -webkit-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all; }
    .other-articles .item__readmore:hover {
      color: #000;
      border-color: #000; }

.contact-us-wrapper {
  position: relative;
  background: #30353A; }
  .contact-us-wrapper:after {
    display: none; }
  .contact-us-wrapper .content {
    position: relative; }

.contuct-us-form {
  right: -webkit-calc(72px + 102px);
  right: calc(72px + 102px); }

.contact-us {
  position: relative; }

@media only screen and (max-width: 992px) {
  .article__content {
    padding: 32px 27px; }
    .article__content .content__text {
      padding-left: 30px; }
    .article__content .article__share-link {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      padding: 8px; }
      .article__content .article__share-link .share__text {
        margin-left: 10px; }
  .article-comments {
    padding-left: 27px;
    padding-right: 27px; }
  .other-articles .other-articles__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .other-articles .other-articles__item {
    max-width: 600px;
    width: 100%; }
    .other-articles .other-articles__item:first-child {
      margin-right: 0; } }

@media only screen and (max-width: 768px) {
  .article__img-block {
    margin-bottom: 10px; }
  .article__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .article__content .content__links {
      width: 100%; }
    .article__content .article__all-posts {
      width: 100%;
      margin-bottom: 16px; }
    .article__content .article__author {
      width: 100%;
      margin-top: 8px;
      min-width: 200px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
      .article__content .article__author .written-by {
        margin-bottom: 0;
        margin-right: 16px; }
      .article__content .article__author .name-post-wrapper {
        width: initial;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        padding-left: 16px; }
      .article__content .article__author .author__linkedin {
        margin-left: auto; }
    .article__content .article__share-list {
      width: 100%;
      margin-top: 16px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row; }
    .article__content .article__share-item {
      margin-right: 8px;
      margin-bottom: 0; }
      .article__content .article__share-item:last-child {
        margin-right: 0; }
    .article__content .content__text {
      margin-top: 24px;
      padding-left: 0; } }

@media only screen and (max-width: 640px) {
  .article__content,
  .article-comments {
    padding-left: 0;
    padding-right: 0; }
  .content__text .article__text {
    font-size: 16px; }
  .content__text .article__share-list {
    padding-left: 32px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .content__text .article__share-list .article__share-item {
      max-width: initial;
      width: -webkit-calc(50% - 8px);
      width: calc(50% - 8px);
      margin-bottom: 16px; }
      .content__text .article__share-list .article__share-item:nth-child(2n) {
        margin-right: 0; }
  .other-articles__list .item__heading {
    font-size: 18px; }
  .other-articles__list .item__readmore {
    margin-top: 16px; } }

@media only screen and (max-width: 480px) {
  .content {
    padding: 0px 8px; }
  .other-articles__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .other-articles__item .item__image-wrapper {
      max-width: initial;
      min-height: 150px; }
  .author__post {
    max-width: 150px;
    text-align: left; }
  .article__content .article__all-posts:hover {
    -webkit-transform: scale(0.9, 0.9);
        -ms-transform: scale(0.9, 0.9);
            transform: scale(0.9, 0.9); }
  .article__content .article__share-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .article__content .article__share-list .article__share-item {
      margin-bottom: 8px;
      margin-right: 0; }
      .article__content .article__share-list .article__share-item:hover {
        -webkit-transform: scale(0.9, 0.9);
            -ms-transform: scale(0.9, 0.9);
                transform: scale(0.9, 0.9); }
  .article__content .content__text .article__image {
    min-width: initial;
    max-width: initial;
    width: 100%; }
  .article__content .content__text .share-list__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .article__content .content__text .share-list__wrapper .wrapper-text {
      margin-bottom: 16px;
      max-width: initial; }
    .article__content .content__text .share-list__wrapper .article__share-list {
      padding-left: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%; }
    .article__content .content__text .share-list__wrapper .article__share-item {
      width: 100%;
      margin-right: 8px; }
      .article__content .content__text .share-list__wrapper .article__share-item:nth-child(2n) {
        margin-right: 8px; }
  .article-comments .comments__form {
    max-width: initial; }
  .article-comments .info__author-name {
    font-size: 16px; }
  .article-comments .comment__block {
    padding: 8px; }
  .article-comments .reply__block {
    padding-top: 10px;
    padding-left: 16px; }
  .article-comments .item__text {
    font-size: 14px;
    padding-left: 16px; } }
