@font-face {
  font-family: 'MerriweatherRegular';
  src: url("../fonts/MerriweatherRegular/RegularMerriweather-Regular.eot");
  src: url("../fonts/MerriweatherRegular/Merriweather-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherRegular/Merriweather-Regular.woff") format("woff"), url("../fonts/MerriweatherRegular/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MerriweatherBold';
  src: url("../fonts/MerriweatherBold/Merriweather-Bold.eot");
  src: url("../fonts/MerriweatherBold/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherBold/Merriweather-Bold.woff") format("woff"), url("../fonts/MerriweatherBold/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNovaRegular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNovaBold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

header {
  position: relative;
  background-image: url("../img/blog/blog-vector.svg");
  -webkit-background-size: contain;
          background-size: contain; }
  header:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/bg/blog-bg.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    z-index: -2; }
  header:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, left bottom, from(#31363B), to(rgba(49, 54, 59, 0)));
    background: -webkit-linear-gradient(top, #31363B 0%, rgba(49, 54, 59, 0) 100%);
    background: -o-linear-gradient(top, #31363B 0%, rgba(49, 54, 59, 0) 100%);
    background: linear-gradient(180deg, #31363B 0%, rgba(49, 54, 59, 0) 100%);
    z-index: -1; }

.header-main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 100px; }
  .header-main .item__date {
    text-align: center;
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0; }
  .header-main .one-bg {
    top: -webkit-calc(50% - 50px);
    top: calc(50% - 50px); }
  .header-main .hero-title {
    color: #E2FF6C; }
  .header-main .hero-title--article {
    margin-top: 16px;
    margin-bottom: 32px;
    text-shadow: 0px 2px 12px #000000; }

main {
  position: relative;
  margin-top: -70px; }
  main:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 87%;
    background-image: url("../img/blog/svg/blog-bg-pattern.png");
    z-index: -1;
    opacity: .2; }

.post-feed {
  width: 100%; }

.post-feed__row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px; }
  .post-feed__row:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    .post-feed__row:nth-child(2n) .row__item:first-child {
      margin-right: 0;
      margin-left: 24px; }
  .post-feed__row:nth-child(3n) .row__item {
    width: -webkit-calc(50% - 12px);
    width: calc(50% - 12px); }
  .post-feed__row:nth-child(3n) .row__item--wider {
    width: -webkit-calc(50% - 12px);
    width: calc(50% - 12px); }

.row__item {
  position: relative;
  width: 40%;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all; }
  .row__item:first-child {
    margin-right: 24px; }
  .row__item:hover {
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all; }
    .row__item:hover .item__title {
      height: 100%; }
    .row__item:hover .item__description-hidden {
      max-height: initial;
      opacity: 1; }
    .row__item:hover .item__readmore {
      -webkit-transition: .5s all;
      -o-transition: .5s all;
      transition: .5s all;
      opacity: 1; }
  .row__item .img-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  .row__item .item__bg {
    width: 100%;
    max-height: 315px;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    vertical-align: middle; }
  .row__item .item__title {
    position: absolute;
    left: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 24px 16px;
    z-index: 1;
    height: 104px;
    -webkit-transition: .75s all;
    -o-transition: .75s all;
    transition: .75s all; }
    .row__item .item__title:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      min-height: 100%;
      background-color: #364250;
      opacity: .9;
      z-index: -1;
      -webkit-transition: .75s all;
      -o-transition: .75s all;
      transition: .75s all; }
  .row__item .item__date {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    font: 10px/1.22 "ProximaNovaBold";
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: left; }
  .row__item .item__heading {
    display: block;
    font: 22px/1.22 "MerriweatherBold";
    letter-spacing: 0.04em;
    color: #E2FF6C; }
  .row__item .item__description-hidden {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    overflow-y: hidden;
    height: 100%;
    margin-top: 32px;
    opacity: 0;
    -webkit-transition: .75s all;
    -o-transition: .75s all;
    transition: .75s all; }
  .row__item .item__description {
    display: block;
    margin-bottom: 24px;
    max-height: 115px;
    font: 16px/1.22 "ProximaNovaRegular";
    color: #DFEAEA;
    text-align: left;
    overflow-y: auto; }
  .row__item .item__readmore {
    display: block;
    width: 100%;
    padding: 8px;
    border: 1px solid #FFFFFF;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    font: 12px/1.22 "ProximaNovaBold";
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    transition: .5s all; }
    .row__item .item__readmore:hover {
      -webkit-transition: .5s all;
      -o-transition: .5s all;
      transition: .5s all;
      color: #E2FF6C;
      border-color: #E2FF6C; }

.row__item--wider {
  width: -webkit-calc(60% - 24px);
  width: calc(60% - 24px); }

.feed-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px; }

.pagination__item .pagination__link {
  display: block;
  position: relative;
  padding: 12px;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
  font: 14px/1.22 "ProximaNovaBold"; }
  .pagination__item .pagination__link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: #E2FF6C;
    opacity: 0;
    -webkit-transition: .25s all;
    -o-transition: .25s all;
    transition: .25s all; }

.pagination__item:first-child .pagination__link:after, .pagination__item:last-child .pagination__link:after {
  display: none; }

.pagination__item:first-child .pagination__link:hover path, .pagination__item:last-child .pagination__link:hover path {
  fill: #E2FF6C; }

.pagination__item.disabled .pagination__link:after {
  display: none; }

.pagination__item:hover .pagination__link, .pagination__item.active .pagination__link {
  color: #E2FF6C; }
  .pagination__item:hover .pagination__link:after, .pagination__item.active .pagination__link:after {
    opacity: 1; }

.post-suggest {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px; }
  .post-suggest:after {
    content: '';
    display: block;
    position: absolute;
    right: 100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 430px;
    height: 360px;
    background-image: url("../img/blog/mac-and-letter.jpg");
    background-repeat: no-repeat; }

.post-suggest__wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.suggest__heading {
  margin-bottom: 32px;
  text-align: left; }

.suggest__text {
  display: block;
  margin-bottom: 32px;
  font: 12px/1.22 "ProximaNovaBold";
  letter-spacing: 0.06em;
  text-align: left;
  text-transform: uppercase; }

.suggest__contact {
  display: block;
  width: 234px;
  padding: 18px 20px;
  padding-top: 22px;
  padding-bottom: 16px;
  font: 9px/1.22 "ProximaNovaBold";
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #364250;
  background: -webkit-gradient(linear, left bottom, left top, from(#C1D866), to(#EBF945));
  background: -webkit-linear-gradient(bottom, #C1D866 0%, #EBF945 100%);
  background: -o-linear-gradient(bottom, #C1D866 0%, #EBF945 100%);
  background: linear-gradient(0deg, #C1D866 0%, #EBF945 100%);
  -webkit-box-shadow: 0px 2px 0px #F1FCC8;
          box-shadow: 0px 2px 0px #F1FCC8;
  -webkit-border-radius: 8px;
          border-radius: 8px; }

.contact-us-wrapper {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, transparent), color-stop(20%, #30353A));
  background-image: -webkit-linear-gradient(top, transparent 20%, #30353A 20%);
  background-image: -o-linear-gradient(top, transparent 20%, #30353A 20%);
  background-image: linear-gradient(to bottom, transparent 20%, #30353A 20%); }
  .contact-us-wrapper .content {
    position: relative;
    z-index: 20; }
  .contact-us-wrapper:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 110px;
    background-image: url("../img/bg/header-vector.png");
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    z-index: 0; }

.popup-comment {
  max-width: 813px;
  width: 100%; }

.message-form.contuct-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .message-form.contuct-form .small-input-wrapper,
  .message-form.contuct-form .form__textarea {
    width: -webkit-calc(50% - 8px);
    width: calc(50% - 8px); }
  .message-form.contuct-form .small-input-wrapper .field-wrap input {
    width: 100%; }
  .message-form.contuct-form .small-input-wrapper .field-wrap:first-child {
    margin-top: 0; }
  .message-form.contuct-form .form__textarea {
    background-color: transparent;
    resize: none;
    border: 1px solid rgba(0, 0, 0, 0.38);
    outline: none;
    padding: 13px 16px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    margin-left: 16px;
    font: 14px/1.22 "ProximaNovaRegular";
    color: rgba(0, 0, 0, 0.6);
    color: #000000; }
  .message-form.contuct-form .form__textarea::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font: 14px/1.22 "ProximaNovaRegular"; }
  .message-form.contuct-form .form__textarea::-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font: 14px/1.22 "ProximaNovaRegular"; }
  .message-form.contuct-form .form__textarea:-moz-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font: 14px/1.22 "ProximaNovaRegular"; }
  .message-form.contuct-form .form__textarea:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.6);
    font: 14px/1.22 "ProximaNovaRegular"; }

.form__controls-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px; }
  .form__controls-wrapper .btn {
    margin-left: 16px; }
  .form__controls-wrapper > * {
    width: 50%; }
    .form__controls-wrapper > * .btn {
      margin: 0; }
  .form__controls-wrapper .privacy .small-text {
    margin: 0; }

.get-price-popup-bottom .attach-label {
  color: rgba(0, 0, 0, 0.38); }

.get-price-popup-bottom .field-wrap:hover .attach-label {
  color: #000000; }

#form__attach-file {
  display: none; }

@media only screen and (max-width: 992px) {
  .post-feed__row {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .post-feed__row:nth-child(2n) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .post-feed__row:nth-child(2n) .row__item:first-child {
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 24px; }
    .post-feed__row:nth-child(3n) .row__item--wider,
    .post-feed__row:nth-child(3n) .row__item {
      width: 525px; }
    .post-feed__row .row__item {
      width: 525px;
      margin-right: 0; }
      .post-feed__row .row__item:first-child {
        margin-bottom: 24px; }
  .post-suggest {
    padding-left: 30px;
    padding-right: 30px; }
    .post-suggest:after {
      right: 30px; }
  .popup-comment {
    max-width: 424px; }
    .popup-comment .get-price-popup-bottom .message-form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .popup-comment .get-price-popup-bottom .small-input-wrapper {
      width: 100%; }
    .popup-comment .get-price-popup-bottom .popup__texarea {
      width: 100%;
      margin-left: 0;
      margin-top: 24px; }
    .popup-comment .get-price-popup-bottom .form__controls-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .popup-comment .get-price-popup-bottom .privacy {
      width: 100%; }
    .popup-comment .get-price-popup-bottom .button-link {
      width: 100%;
      margin-left: 0;
      margin-bottom: 0; } }

@media only screen and (max-width: 767px) {
  .post-suggest:after {
    display: none; }
  .post-suggest .post-suggest__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .post-suggest .post-suggest__wrapper .suggest__text,
    .post-suggest .post-suggest__wrapper .suggest__heading {
      text-align: center; }
    .post-suggest .post-suggest__wrapper .suggest__contact {
      margin-right: 0; } }

@media only screen and (max-width: 640px) {
  .post-suggest {
    padding-top: 20px; }
    .post-suggest .post-suggest__wrapper {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .post-suggest .suggest__heading {
      text-align: center; }
  .post-feed__row {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .post-feed__row:nth-child(3n) .row__item--wider,
    .post-feed__row:nth-child(3n) .row__item {
      width: 100%; }
    .post-feed__row .row__item {
      width: 100%; } }

@media only screen and (max-width: 480px) {
  .post-feed__row .item__heading {
    font-size: 18px; }
  .post-feed__row .item__title {
    padding: 8px; }
  .post-feed__row .item__description-hidden {
    margin-top: 8px; }
  .post-feed__row .item__description {
    max-height: -webkit-calc(100% - 47px);
    max-height: calc(100% - 47px);
    margin-bottom: 8px; }
  .post-suggest {
    padding-right: 0;
    padding-left: 0; }
    .post-suggest .suggest__text {
      text-align: center; }
    .post-suggest .suggest__heading {
      font-size: 24px;
      line-height: 1.22; }
    .post-suggest:after {
      right: 50%;
      -webkit-transform: translate(50%, -50%) scale(0.6, 0.6);
          -ms-transform: translate(50%, -50%) scale(0.6, 0.6);
              transform: translate(50%, -50%) scale(0.6, 0.6); } }

@media only screen and (max-width: 350px) {
  .contact-us .contuct-us-form {
    width: 100%; } }
