@font-face {
	font-family: 'MerriweatherRegular';
	src: url('../fonts/MerriweatherRegular/RegularMerriweather-Regular.eot');
	src: url('../fonts/MerriweatherRegular/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MerriweatherRegular/Merriweather-Regular.woff') format('woff'),
		url('../fonts/MerriweatherRegular/Merriweather-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'MerriweatherBold';
	src: url('../fonts/MerriweatherBold/Merriweather-Bold.eot');
	src: url('../fonts/MerriweatherBold/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/MerriweatherBold/Merriweather-Bold.woff') format('woff'),
		url('../fonts/MerriweatherBold/Merriweather-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('../fonts/ProximaNovaRegular/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaRegular/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNovaRegular/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaBold';
	src: url('../fonts/ProximaNovaBold/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNovaBold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaBold/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNovaBold/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

