@font-face {
  font-family: 'MerriweatherRegular';
  src: url("../fonts/MerriweatherRegular/RegularMerriweather-Regular.eot");
  src: url("../fonts/MerriweatherRegular/Merriweather-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherRegular/Merriweather-Regular.woff") format("woff"), url("../fonts/MerriweatherRegular/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MerriweatherBold';
  src: url("../fonts/MerriweatherBold/Merriweather-Bold.eot");
  src: url("../fonts/MerriweatherBold/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/MerriweatherBold/Merriweather-Bold.woff") format("woff"), url("../fonts/MerriweatherBold/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("../fonts/ProximaNovaRegular/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNovaRegular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaRegular/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNovaRegular/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNovaBold';
  src: url("../fonts/ProximaNovaBold/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNovaBold/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNovaBold/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNovaBold/ProximaNova-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

.services .service-info .service-info-description p:before, .counts .counts-content .counts-count .count-img:before, .portfolio:before, .expert-content:before, .expert-content:after, form.contuct-form .privacy input[type='checkbox'] + label::before, form.wpcf7-form .privacy input[type='checkbox'] + label::before, form.contuct-form .privacy input[type='checkbox']:checked + label::after, form.wpcf7-form .privacy input[type='checkbox']:checked + label::after, .get-price-popup .get-price-popup-top h3:after, .sent-form-popup .sent-form-popup-bottom h3:after {
  content: '';
  position: absolute; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.expert-content .expert-arrow-left, .expert-content .expert-arrow-right, .popup {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.expert-content .expert-absolute-elements a, .get-price-popup .get-price-popup-top h3:after, .sent-form-popup .sent-form-popup-bottom h3:after {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  list-style-type: none; }
  ul li {
    display: inline-block; }

body {
  text-align: center;
  background: #30353A;
  color: white;
  font-family: 'ProximaNovaRegular';
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  min-width: 320px; }

main {
  overflow: hidden; }

a {
  text-decoration: none;
  color: inherit;
  outline: none;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

.body-font {
  color: #ffffff;
  font-family: 'ProximaNovaRegular';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1px; }

.hero-title {
  font-family: 'MerriweatherRegular';
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 2px; }

.block-title {
  font-family: 'MerriweatherBold';
  font-size: 26px;
  line-height: 39px;
  margin: 18px 36px;
  letter-spacing: 2px; }

.subheading {
  font-family: 'MerriweatherRegular';
  font-size: 18px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.87); }

.button-link {
  font-family: 'ProximaNovaBold';
  font-size: 9px;
  line-height: 11px;
  color: #364250; }

.small-text {
  font-family: 'ProximaNovaRegular';
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  color: rgba(0, 0, 0, 0.6); }

.upper {
  text-transform: uppercase; }

.hover {
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .hover:hover {
    color: #E2FF6C; }

.btn {
  text-transform: uppercase;
  background: -webkit-gradient(linear, left bottom, left top, from(#C1D866), to(#EBF945)), #E2FF6C;
  background: -webkit-linear-gradient(bottom, #C1D866 0%, #EBF945 100%), #E2FF6C;
  background: -o-linear-gradient(bottom, #C1D866 0%, #EBF945 100%), #E2FF6C;
  background: linear-gradient(0deg, #C1D866 0%, #EBF945 100%), #E2FF6C;
  -webkit-box-shadow: 0px 2px 0px #F1FCC8;
          box-shadow: 0px 2px 0px #F1FCC8;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border: none;
  outline: none;
  padding: 16px 56px;
  margin: 16px 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  cursor: pointer; }
  .btn span {
    padding-bottom: 2px; }
  .btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#D9E89D), to(#F2FB89));
    background: -webkit-linear-gradient(bottom, #D9E89D 0%, #F2FB89 100%);
    background: -o-linear-gradient(bottom, #D9E89D 0%, #F2FB89 100%);
    background: linear-gradient(0deg, #D9E89D 0%, #F2FB89 100%);
    outline: none; }
    .btn:hover span {
      border-bottom: 1px solid #364250; }

.btn-secondary {
  color: #364250;
  background: white;
  border: 1px solid #21262B;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 10px 30px;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .btn-secondary:hover {
    background: #E2FF6C;
    text-decoration: none;
    border-color: #E2FF6C; }

.content {
  width: 100%;
  max-width: 1234px;
  padding: 0 82px;
  margin: 0 auto; }

.main-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  width: 100%;
  margin-top: 60px; }

header {
  background-image: url("../img/bg/header-vector.png");
  background-repeat: no-repeat;
  background-position: bottom;
  -webkit-background-size: contain;
          background-size: contain;
  min-height: 100vh;
  width: 100%; }
  header .container {
    background-color: transparent; }

.topline {
  width: 100%;
  padding: 12px 22px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.topline-left, .topline-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-calc( (100% - 289px) /2);
  width: calc( (100% - 289px) /2); }

.topline {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0; }
  .topline .header-nav-left li a, .topline .header-nav-right li a {
    padding-bottom: 5px;
    margin: 0 9px; }
    .topline .header-nav-left li a:hover, .topline .header-nav-right li a:hover {
      border-bottom: 1px solid #E2FF6C; }

a.social-icon {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 9px; }

.logo {
  margin: 0 50px; }
  @media only screen and (max-width: 1140px) {
    .logo {
      margin: 0; } }
  .logo img {
    height: 74px; }
  @media only screen and (max-width: 767px) {
    .logo {
      position: relative; } }
  .logo #top-logo-big {
    margin: 0; }
    @media only screen and (max-width: 767px) {
      .logo #top-logo-big {
        display: none; } }
  .logo #top-logo-small {
    margin-top: 10px;
    height: 28px;
    display: none; }
    @media only screen and (max-width: 767px) {
      .logo #top-logo-small {
        display: block; } }

.header-lang-switch a {
  color: #364250;
  background: white;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 15px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .header-lang-switch a:hover {
    background-color: #E2FF6C; }

#lang-mobile {
  display: none; }
  @media only screen and (max-width: 767px) {
    #lang-mobile {
      position: absolute;
      top: 25px;
      right: 10px;
      display: block; } }

.header-main {
  position: relative;
  min-height: -webkit-calc(100vh - 108px);
  min-height: calc(100vh - 108px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header-main h3 {
    max-width: 320px;
    margin: 16px;
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0; }
  .header-main h1 {
    position: relative;
    margin: 0;
    max-width: 770px;
    z-index: 2;
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0; }
    @media only screen and (max-width: 440px) {
      .header-main h1 {
        font-size: 24px; } }
  .header-main a {
    -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
            transform: translateY(-100px);
    opacity: 0; }

.one-bg {
  position: absolute;
  top: -webkit-calc(100vh - 66vh);
  top: calc(100vh - 66vh);
  left: 50%;
  -webkit-transform: translate(-50%, -webkit-calc(-50% - 100px));
      -ms-transform: translate(-50%, calc(-50% - 100px));
          transform: translate(-50%, calc(-50% - 100px));
  opacity: 0; }

.services {
  position: relative; }
  .services .services-dots {
    position: absolute;
    top: 440px;
    left: 200px; }
    @media only screen and (max-width: 599px) {
      .services .services-dots {
        display: none; } }
    .services .services-dots i {
      display: inline-block;
      width: 6px;
      height: 6px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background: white;
      opacity: 0.3;
      margin-right: 12px;
      -webkit-transition: opacity .2s;
      -o-transition: opacity .2s;
      transition: opacity .2s; }
      .services .services-dots i:hover {
        opacity: 0.6; }
    .services .services-dots .activeDot {
      opacity: 1; }
      .services .services-dots .activeDot:hover {
        opacity: 1; }
  .services .services-heading {
    background: #30353A;
    max-width: 362px; }
  .services .services-outline {
    position: absolute;
    z-index: -1;
    top: 37px;
    left: 50px;
    right: 50px;
    bottom: 0;
    border: 1px solid #C1D866;
    -webkit-border-radius: 2px;
            border-radius: 2px; }
    @media only screen and (max-width: 767px) {
      .services .services-outline {
        left: 25px;
        right: 25px; } }
  .services .service-info {
    max-height: 363px;
    width: 100%;
    display: none;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; }
    .services .service-info .service-info-image {
      width: 48.9%; }
      .services .service-info .service-info-image img {
        -o-object-fit: cover;
           object-fit: cover; }
    .services .service-info .service-info-description {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      background: white;
      max-width: 51.1%;
      padding: 5.7% 9.7%; }
      .services .service-info .service-info-description h2 {
        text-align: left;
        padding-bottom: 32px; }
      .services .service-info .service-info-description p {
        position: relative; }
        .services .service-info .service-info-description p:before {
          width: 64px;
          height: 1px;
          background: #364250;
          top: -16px;
          left: 0; }
    @media only screen and (max-width: 767px) {
      .services .service-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        max-height: 100%; }
        .services .service-info .service-info-image {
          width: 100%; }
          .services .service-info .service-info-image img {
            max-width: 100%;
            margin-bottom: -4px; }
        .services .service-info .service-info-description {
          width: 100%;
          max-width: 523px;
          padding: 3.5% 9.7%; } }
  .services .services-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 10%;
    margin: 16px auto; }
    .services .services-list ul {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .services .services-list ul li {
        margin: 0 12px;
        width: -webkit-calc(25% - 24px);
        width: calc(25% - 24px); }
      @media only screen and (max-width: 1230px) {
        .services .services-list ul {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          .services .services-list ul li {
            margin: 0 12px;
            width: 186px; } }
    .services .services-list a {
      display: block;
      height: -webkit-calc(100% - 16px);
      height: calc(100% - 16px);
      border-bottom: 1px solid white;
      color: white;
      margin-bottom: 16px;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      padding-bottom: 5px; }
      .services .services-list a:hover {
        color: #E2FF6C;
        border-color: #E2FF6C; }

.block-heading {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 24px;
  padding: 18px 36px; }
  .block-heading h2 {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    z-index: 2; }
  .block-heading img {
    position: absolute;
    top: 40px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.counts {
  padding: 0 50px; }
  @media only screen and (max-width: 767px) {
    .counts {
      padding: 0; } }
  .counts .counts-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
    width: 100%;
    min-height: 430px;
    background-image: url("../img/bg/counts-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
            background-size: contain; }
    @media only screen and (max-width: 992px) {
      .counts .counts-content {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    .counts .counts-content svg {
      position: absolute;
      left: 15px;
      top: 0;
      z-index: -1; }
      @media only screen and (max-width: 992px) {
        .counts .counts-content svg {
          display: none; } }
    .counts .counts-content .counts-count {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      min-width: 320px; }
      @media only screen and (max-width: 992px) {
        .counts .counts-content .counts-count {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding-left: 15px; } }
      @media only screen and (max-width: 380px) {
        .counts .counts-content .counts-count {
          min-width: 260px; } }
      .counts .counts-content .counts-count.count1 {
        width: 40%; }
        @media only screen and (max-width: 992px) {
          .counts .counts-content .counts-count.count1 {
            width: 60%; } }
      .counts .counts-content .counts-count.count2 {
        width: 70%; }
        @media only screen and (max-width: 992px) {
          .counts .counts-content .counts-count.count2 {
            width: 60%; } }
      .counts .counts-content .counts-count.count3 {
        width: 86%; }
        @media only screen and (max-width: 992px) {
          .counts .counts-content .counts-count.count3 {
            width: 60%; } }
      .counts .counts-content .counts-count .count-text {
        min-width: 200px;
        max-width: 264px;
        margin-left: 30px;
        font: normal 18px/1 'ProximaNovaRegular';
        text-align: left; }
        @media only screen and (max-width: 380px) {
          .counts .counts-content .counts-count .count-text {
            min-width: 150px; } }
      .counts .counts-content .counts-count .count-img {
        text-align: center;
        line-height: 96px;
        background-image: url("../img/bg/counts-rectangle-in.png");
        min-width: 96px;
        height: 96px;
        position: relative;
        margin: 0; }
        .counts .counts-content .counts-count .count-img:before {
          background-image: url("../img/bg/counts-rectangle-out.png");
          left: -5px;
          top: 5px;
          width: 96px;
          height: 96px;
          z-index: -1; }

.portfolio {
  position: relative;
  background-image: url("../img/bg/portfolio-bg-1.png"), url("../img/bg/portfolio-bg-2.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
          background-size: contain;
  width: 100%;
  margin-top: 60px;
  padding-top: 95px; }
  .portfolio:before {
    height: 3px;
    background: #30353A;
    top: -1px;
    left: 0;
    width: 100%; }
  .portfolio .content {
    margin-top: 0; }
    .portfolio .content .portfolio-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      padding-top: 72px; }
      @media only screen and (max-width: 800px) {
        .portfolio .content .portfolio-content {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
              -ms-flex-pack: center;
                  justify-content: center;
          padding: 0; } }
      .portfolio .content .portfolio-content .portfolio-item {
        position: relative;
        min-width: 172px;
        max-width: -webkit-calc( (100% - 16px) / 4);
        max-width: calc( (100% - 16px) / 4);
        width: 254px;
        max-height: 351px;
        height: 31vw;
        -webkit-border-radius: 4px;
                border-radius: 4px;
        -webkit-box-shadow: 0px 18.1126px 36.2252px rgba(0, 0, 0, 0.24);
                box-shadow: 0px 18.1126px 36.2252px rgba(0, 0, 0, 0.24);
        margin: 2px;
        overflow: hidden;
        -webkit-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out; }
        @media only screen and (max-width: 767px) {
          .portfolio .content .portfolio-content .portfolio-item {
            min-height: 238px; } }
        .portfolio .content .portfolio-content .portfolio-item:nth-child(1) {
          margin-top: -48px; }
          @media only screen and (max-width: 785px) {
            .portfolio .content .portfolio-content .portfolio-item:nth-child(1) {
              margin: 2px; } }
        .portfolio .content .portfolio-content .portfolio-item:nth-child(2n + 2) {
          margin-top: -24px; }
          @media only screen and (max-width: 785px) {
            .portfolio .content .portfolio-content .portfolio-item:nth-child(2n + 2) {
              margin: 2px; } }
        .portfolio .content .portfolio-content .portfolio-item:nth-child(4n + 4) {
          margin-top: -72px; }
          @media only screen and (max-width: 785px) {
            .portfolio .content .portfolio-content .portfolio-item:nth-child(4n + 4) {
              margin: 2px; } }
        .portfolio .content .portfolio-content .portfolio-item:nth-child(4n + 1) {
          margin-top: -48px; }
          @media only screen and (max-width: 785px) {
            .portfolio .content .portfolio-content .portfolio-item:nth-child(4n + 1) {
              margin: 2px; } }
        .portfolio .content .portfolio-content .portfolio-item .portfolio-item-bg-img {
          width: 100%;
          position: absolute;
          top: 0;
          left: 0; }
        .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-flow: column wrap;
              -ms-flex-flow: column wrap;
                  flex-flow: column wrap;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.24);
                  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.24);
          justify-content: space-between;
          width: 100%;
          min-height: 100%;
          background: #364250;
          -webkit-transition: opacity .25s;
          -o-transition: opacity .25s;
          transition: opacity .25s;
          -webkit-border-radius: 4px;
                  border-radius: 4px;
          padding: 20px 16px;
          opacity: 0;
          cursor: pointer;
          -webkit-transition: all 0.4s ease-out;
          -o-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out; }
          @media only screen and (max-width: 850px) {
            .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info {
              padding: 0 10px 10px 10px; } }
          .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info .animate-text {
            opacity: 0;
            -webkit-transition: all 0.4s ease-in-out;
            -o-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out; }
          .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info:hover {
            opacity: 0.9; }
            .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info:hover .animate-text {
              -webkit-transform: translateX(0);
                  -ms-transform: translateX(0);
                      transform: translateX(0);
              opacity: 1; }
          .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info h3 {
            text-align: left;
            margin-top: 8px;
            color: #E2FF6C;
            letter-spacing: 2px;
            -webkit-transform: translateX(400px);
                -ms-transform: translateX(400px);
                    transform: translateX(400px);
            height: 50px;
            overflow: auto; }
            @media only screen and (max-width: 992px) {
              .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info h3 {
                font-size: 14px; } }
          .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info p.small-text {
            color: #DFEAEA;
            max-height: 8em;
            overflow: auto;
            -webkit-transform: translateX(-400px);
                -ms-transform: translateX(-400px);
                    transform: translateX(-400px);
            -webkit-transition-delay: 0.1s;
                 -o-transition-delay: 0.1s;
                    transition-delay: 0.1s; }
          .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info p.upper {
            font: bold 9px 'ProximaNovaBold';
            letter-spacing: 1px;
            text-align: left;
            -webkit-transform: translateX(400px);
                -ms-transform: translateX(400px);
                    transform: translateX(400px);
            -webkit-transition-delay: 0.2s;
                 -o-transition-delay: 0.2s;
                    transition-delay: 0.2s; }
            .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info p.upper span {
              margin-left: 15px; }
          .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info a.btn-secondary {
            background: transparent;
            -webkit-border-radius: 4px;
                    border-radius: 4px;
            border-color: white;
            color: white;
            padding: 5px 0;
            min-width: 100%;
            margin-top: 15px;
            -webkit-transform: translateX(-400px);
                -ms-transform: translateX(-400px);
                    transform: translateX(-400px);
            -webkit-transition-delay: 0.15s;
                 -o-transition-delay: 0.15s;
                    transition-delay: 0.15s; }
            .portfolio .content .portfolio-content .portfolio-item .portfolio-item-info a.btn-secondary:hover {
              background: #E2FF6C;
              border-color: #E2FF6C;
              color: #364250; }

#portfolio-get-more {
  padding: 6px 48px;
  background: transparent;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  border-color: white;
  color: white;
  margin: 0 auto;
  margin-top: 30px; }
  #portfolio-get-more:hover {
    background: #E2FF6C;
    border-color: #E2FF6C;
    color: #364250; }

.team-member {
  background-image: url("../img/bg/team-member-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
  max-width: 186px;
  min-height: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
  margin: auto; }
  .team-member p.member-position {
    color: #DFEAEA;
    text-align: center;
    max-width: 90%; }

.about-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (max-width: 767px) {
    .about-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .about-content p {
    max-width: 420px;
    text-align: left;
    margin-left: 24px;
    font-size: 16px; }
    @media only screen and (max-width: 767px) {
      .about-content p {
        margin: 0;
        text-align: center; } }
  .about-content img {
    max-width: 100%; }

.expert-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  position: relative;
  padding: 20px;
  border-width: 1px;
  border-style: solid;
  -webkit-border-image: url("../img/bg/expert-border.png") 30 stretch;
       -o-border-image: url("../img/bg/expert-border.png") 30 stretch;
          border-image: url("../img/bg/expert-border.png") 30 stretch;
  width: 100%;
  max-width: 862px;
  margin: 0 auto;
  margin-top: 13px;
  padding: 32px 24px 0 24px;
  min-height: 289px; }
  @media only screen and (max-width: 555px) {
    .expert-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .expert-content .owl-carousel .owl-item img {
    width: auto !important; }
  .expert-content .expert-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 555px) {
      .expert-content .expert-slide {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .expert-content:before {
    background-image: url("../img/svg-icons/quotes.svg");
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    top: -45px;
    left: 50px;
    width: 66px;
    height: 57px; }
    @media only screen and (max-width: 539px) {
      .expert-content:before {
        left: 0; } }
    @media only screen and (max-width: 420px) {
      .expert-content:before {
        display: none; } }
  .expert-content:after {
    background-image: url("../img/svg-icons/quotes.svg");
    bottom: -45px;
    right: 50px;
    width: 66px;
    height: 57px; }
    @media only screen and (max-width: 539px) {
      .expert-content:after {
        right: 0; } }
    @media only screen and (max-width: 420px) {
      .expert-content:after {
        display: none; } }
  .expert-content .expert-absolute-elements a {
    padding: 12px 80px;
    bottom: -50px; }
    @media only screen and (max-width: 555px) {
      .expert-content .expert-absolute-elements a {
        padding: 12px 25px; } }
  .expert-content .expert-arrow-left {
    left: 0; }
  .expert-content .expert-arrow-right {
    left: 100%; }
    .expert-content .expert-arrow-right svg {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .expert-content .expert-author {
    max-width: 175px;
    min-width: 175px;
    margin-right: 35px; }
    @media only screen and (max-width: 555px) {
      .expert-content .expert-author {
        margin-right: 0; } }
    .expert-content .expert-author .author {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      @media only screen and (max-width: 555px) {
        .expert-content .expert-author .author {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: start;
          -webkit-justify-content: flex-start;
              -ms-flex-pack: start;
                  justify-content: flex-start;
          height: 150px; } }
      .expert-content .expert-author .author .author-info {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column wrap;
            -ms-flex-flow: column wrap;
                flex-flow: column wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        max-width: -webkit-calc(100% - 38px);
        max-width: calc(100% - 38px); }
        .expert-content .expert-author .author .author-info > span {
          text-transform: uppercase;
          color: white;
          margin-bottom: 5px; }
        .expert-content .expert-author .author .author-info > p {
          text-align: center;
          color: #DFEAEA; }
          .expert-content .expert-author .author .author-info > p span {
            margin: 17px 0 4px 0;
            display: inline-block; }
      .expert-content .expert-author .author .author-separator {
        background-image: url("../img/svg-icons/author-separator.svg");
        width: 6px;
        height: 200px;
        margin-left: 32px; }
        @media only screen and (max-width: 555px) {
          .expert-content .expert-author .author .author-separator {
            display: none; } }
  .expert-content .expert-message {
    text-align: left;
    max-width: 610px;
    max-height: 200px;
    overflow: auto;
    padding-right: 10px; }

#partners .partners-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  position: relative;
  width: 100%;
  max-width: 862px;
  margin: 0 auto;
  padding: 0 24px; }

#partners .partners-slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

#partners .partner-slide {
  margin: auto; }
  #partners .partner-slide img {
    height: 40px;
    width: auto;
    display: block;
    margin: 0 auto; }

#expert-slider .owl-nav, #partners-slider .owl-nav {
  display: block !important;
  margin: 10px 0 50px 0 !important; }
  #expert-slider .owl-nav .owl-prev, #expert-slider .owl-nav .owl-next, #partners-slider .owl-nav .owl-prev, #partners-slider .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    position: absolute;
    overflow: hidden;
    bottom: 50%;
    outline: none;
    background: transparent; }
    #expert-slider .owl-nav .owl-prev span, #expert-slider .owl-nav .owl-next span, #partners-slider .owl-nav .owl-prev span, #partners-slider .owl-nav .owl-next span {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-align: center !important;
      -webkit-align-items: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
      -webkit-box-pack: center !important;
      -webkit-justify-content: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important;
      width: 40px;
      height: 40px;
      background: #364250;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      font-size: 20px; }
  #expert-slider .owl-nav .owl-prev, #partners-slider .owl-nav .owl-prev {
    left: -50px; }
    #expert-slider .owl-nav .owl-prev:hover span, #partners-slider .owl-nav .owl-prev:hover span {
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
              transform: scale(0.8);
      color: #E2FF6C; }
  #expert-slider .owl-nav .owl-next, #partners-slider .owl-nav .owl-next {
    right: -50px; }
    #expert-slider .owl-nav .owl-next:hover span, #partners-slider .owl-nav .owl-next:hover span {
      -webkit-transform: scale(0.8);
          -ms-transform: scale(0.8);
              transform: scale(0.8);
      color: #E2FF6C; }

.contact-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 348px;
  max-width: 1022px;
  margin: 0 auto;
  margin-top: 140px;
  background: url("../img/bg/contuct_us_bg.png"), -webkit-linear-gradient(285.76deg, #E7EAEA 0%, #DFEAEA 100%);
  background: url("../img/bg/contuct_us_bg.png"), -o-linear-gradient(285.76deg, #E7EAEA 0%, #DFEAEA 100%);
  background: url("../img/bg/contuct_us_bg.png"), linear-gradient(164.24deg, #E7EAEA 0%, #DFEAEA 100%);
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.24);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
          border-radius: 4px; }
  @media only screen and (max-width: 767px) {
    .contact-us {
      margin-top: 380px; } }
  .contact-us .contact-us-lines {
    width: 100vw;
    height: 87px;
    border: 1px solid #E2FF6C;
    border-left: none;
    border-right: none;
    position: absolute;
    left: 50%;
    top: 190px;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1; }
  .contact-us .contact-us-content {
    margin-left: 5.3%;
    margin-top: 53px;
    padding: 24px;
    background-image: url("../img/bg/contuct_us_bg2.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    min-height: 250px; }
    @media only screen and (max-width: 992px) {
      .contact-us .contact-us-content {
        margin-left: 15px;
        padding-left: 17px; } }
    .contact-us .contact-us-content h2 {
      text-align: left;
      max-width: 482px; }
      @media only screen and (max-width: 1010px) {
        .contact-us .contact-us-content h2 {
          max-width: 400px; } }
      @media only screen and (max-width: 767px) {
        .contact-us .contact-us-content h2 {
          max-width: 100%; } }
      @media only screen and (max-width: 420px) {
        .contact-us .contact-us-content h2 {
          font-size: 24px; } }
    .contact-us .contact-us-content .contact-us-social {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 60px; }
      .contact-us .contact-us-content .contact-us-social span {
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        font: normal 12px/1 'ProximaNovaBold';
        margin-right: 20px; }
        @media only screen and (max-width: 456px) {
          .contact-us .contact-us-content .contact-us-social span {
            margin-bottom: 10px; } }

.contuct-us-form {
  position: absolute;
  bottom: 40px;
  right: 7.377%;
  width: 100%;
  max-width: 336px;
  height: 356px;
  background: -webkit-linear-gradient(311.29deg, #E7EAEA 0%, #DFEAEA 100%);
  background: -o-linear-gradient(311.29deg, #E7EAEA 0%, #DFEAEA 100%);
  background: linear-gradient(138.71deg, #E7EAEA 0%, #DFEAEA 100%);
  -webkit-box-shadow: 0px 40px 24px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 40px 24px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 16px 19px; }
  @media only screen and (max-width: 992px) {
    .contuct-us-form {
      right: 20px;
      bottom: 65px; } }
  @media only screen and (max-width: 767px) {
    .contuct-us-form {
      width: 95%;
      right: 20px;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      bottom: 280px; } }
  @media only screen and (max-width: 582px) {
    .contuct-us-form {
      bottom: 320px; } }
  @media only screen and (max-width: 456px) {
    .contuct-us-form {
      bottom: 360px; } }

.wpcf7-validation-errors {
  background: red; }

form.contuct-form, form.wpcf7-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%; }
  form.contuct-form > a, form.wpcf7-form > a {
    padding: 18px 90px;
    margin-top: 55px; }
  form.contuct-form .field-wrap, form.wpcf7-form .field-wrap {
    text-align: left;
    padding: 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    margin-top: 20px; }
    form.contuct-form .field-wrap:hover, form.wpcf7-form .field-wrap:hover {
      border-color: rgba(0, 0, 0, 0.8);
      color: rgba(0, 0, 0, 0.8); }
      form.contuct-form .field-wrap:hover ::-webkit-input-placeholder, form.wpcf7-form .field-wrap:hover ::-webkit-input-placeholder {
        color: black;
        opacity: 0.8; }
      form.contuct-form .field-wrap:hover ::-moz-placeholder, form.wpcf7-form .field-wrap:hover ::-moz-placeholder {
        color: black;
        opacity: 0.8; }
      form.contuct-form .field-wrap:hover :-ms-input-placeholder, form.wpcf7-form .field-wrap:hover :-ms-input-placeholder {
        color: black;
        opacity: 0.8; }
      form.contuct-form .field-wrap:hover ::-ms-input-placeholder, form.wpcf7-form .field-wrap:hover ::-ms-input-placeholder {
        color: black;
        opacity: 0.8; }
      form.contuct-form .field-wrap:hover ::placeholder, form.wpcf7-form .field-wrap:hover ::placeholder {
        color: black;
        opacity: 0.8; }
    form.contuct-form .field-wrap .field-icon, form.wpcf7-form .field-wrap .field-icon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      min-width: 18px;
      margin-right: 16px; }
    form.contuct-form .field-wrap input, form.wpcf7-form .field-wrap input {
      background: transparent;
      border: none;
      outline: none; }
  form.contuct-form .privacy, form.wpcf7-form .privacy {
    padding: 8px;
    color: rgba(0, 0, 0, 0.6); }
    form.contuct-form .privacy input[type='checkbox'], form.wpcf7-form .privacy input[type='checkbox'] {
      display: none; }
      form.contuct-form .privacy input[type='checkbox'] + label::before, form.wpcf7-form .privacy input[type='checkbox'] + label::before {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(0, 0, 0, 0.38);
        -webkit-border-radius: 4px;
                border-radius: 4px;
        left: 0px;
        top: 0; }
      form.contuct-form .privacy input[type='checkbox']:checked + label::after, form.wpcf7-form .privacy input[type='checkbox']:checked + label::after {
        width: 16px;
        height: 16px;
        background-image: url("../img/svg-icons/checked.svg");
        top: 0;
        left: 1px;
        background-repeat: no-repeat;
        background-position: center center; }
    form.contuct-form .privacy label, form.wpcf7-form .privacy label {
      display: block;
      max-width: 254px;
      position: relative;
      padding-left: 34px;
      margin-top: 35px; }
      form.contuct-form .privacy label a, form.wpcf7-form .privacy label a {
        color: rgba(0, 0, 0, 0.87); }

footer {
  width: 100%;
  max-width: 1022px;
  margin-top: 40px;
  margin: 0 auto;
  margin-top: 40px; }
  footer .content {
    border-top: 1px solid #C4C4C4;
    padding: 40px 3%; }
    footer .content .footer-top {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media only screen and (max-width: 767px) {
        footer .content .footer-top {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; } }
      footer .content .footer-top .footer-logo, footer .content .footer-top .footer-logo img {
        max-width: 248px; }
        @media only screen and (max-width: 767px) {
          footer .content .footer-top .footer-logo, footer .content .footer-top .footer-logo img {
            margin-bottom: 10px; } }
    footer .content .footer-nav li {
      margin: 0 20px;
      padding-bottom: 7px; }
      @media only screen and (max-width: 767px) {
        footer .content .footer-nav li {
          margin-bottom: 10px; } }
      footer .content .footer-nav li:hover {
        border-bottom: 1px solid #E2FF6C; }
    footer .content .footer-bottom {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 60px; }
      @media only screen and (max-width: 767px) {
        footer .content .footer-bottom {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-top: 20px; } }
      footer .content .footer-bottom .copy {
        text-align: left; }
        @media only screen and (max-width: 767px) {
          footer .content .footer-bottom .copy {
            text-align: center;
            margin-bottom: 20px; } }
      footer .content .footer-bottom .footer-social {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
                flex-flow: row wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        @media only screen and (max-width: 767px) {
          footer .content .footer-bottom .footer-social {
            display: block;
            text-align: center; } }
        @media only screen and (max-width: 767px) {
          footer .content .footer-bottom .footer-social ul {
            margin-top: 5px; } }
        footer .content .footer-bottom .footer-social span {
          margin-right: 33px; }
          @media only screen and (max-width: 767px) {
            footer .content .footer-bottom .footer-social span {
              margin: 0; } }

.arrow-wrap {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer; }
  .arrow-wrap .arrow {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    background: #364250;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .arrow-wrap:hover .arrow {
    width: 32px;
    height: 32px; }

video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none !important; }

video::-webkit-media-controls-enclosure {
  display: none !important; }

video::-webkit-media-controls, video::-moz-media-controls, video::-o-media-controls, video::-ms-media-controls {
  display: none !important; }

.video {
  width: 100%;
  position: absolute;
  min-height: 100vh;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1; }
  .video .controls {
    display: none; }
  .video video {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

#team .owl-nav {
  display: block !important;
  margin: 10px 0 50px 0 !important; }
  #team .owl-nav .owl-prev, #team .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    position: absolute;
    overflow: hidden;
    bottom: -20px;
    outline: none;
    background: transparent; }
    #team .owl-nav .owl-prev span, #team .owl-nav .owl-next span {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-align: center !important;
      -webkit-align-items: center !important;
          -ms-flex-align: center !important;
              align-items: center !important;
      -webkit-box-pack: center !important;
      -webkit-justify-content: center !important;
          -ms-flex-pack: center !important;
              justify-content: center !important;
      width: 40px;
      height: 40px;
      background: #364250;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      font-size: 20px; }
  #team .owl-nav .owl-prev {
    left: -webkit-calc(50% - 50px) !important;
    left: calc(50% - 50px) !important; }
    #team .owl-nav .owl-prev:hover {
      bottom: -20px; }
      #team .owl-nav .owl-prev:hover span {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
        color: #E2FF6C; }
  #team .owl-nav .owl-next {
    right: -webkit-calc(50% - 50px) !important;
    right: calc(50% - 50px) !important; }
    #team .owl-nav .owl-next:hover {
      bottom: -20px; }
      #team .owl-nav .owl-next:hover span {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
        color: #E2FF6C; }

#popup_wrapper {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: none; }

.portfolio-popup {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  position: relative;
  max-height: 90vh; }
  .portfolio-popup .close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    z-index: 100;
    cursor: pointer;
    background: #364250;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .portfolio-popup .close:hover svg rect {
      fill: #E2FF6C; }
  .portfolio-popup .portfolio-popup-arrow-right {
    position: absolute;
    z-index: 2;
    top: -webkit-calc(50% - 44px);
    top: calc(50% - 44px);
    right: -20px; }
    .portfolio-popup .portfolio-popup-arrow-right:hover .arrow {
      right: -16px; }
    .portfolio-popup .portfolio-popup-arrow-right svg {
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }
  .portfolio-popup .portfolio-popup-arrow-left {
    position: absolute;
    z-index: 2;
    top: -webkit-calc(50% + 4px);
    top: calc(50% + 4px);
    right: -20px; }
    .portfolio-popup .portfolio-popup-arrow-left:hover .arrow {
      right: -16px; }

.popup-content {
  width: 100%;
  min-height: 100%;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: auto; }

.portfolio-popup-content {
  -webkit-box-shadow: 0px 18.1126px 36.2252px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 18.1126px 36.2252px rgba(0, 0, 0, 0.24);
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  min-height: 442px;
  width: 1021px;
  max-width: 90vw; }
  @media only screen and (max-width: 767px) {
    .portfolio-popup-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      min-height: 335px; } }
  .portfolio-popup-content img {
    margin-right: -1px;
    max-width: 428px;
    max-height: 422px;
    -o-object-fit: contain;
       object-fit: contain; }
    @media only screen and (max-width: 992px) {
      .portfolio-popup-content img {
        max-width: 33%; } }
    @media only screen and (max-width: 767px) {
      .portfolio-popup-content img {
        max-width: 100%;
        margin: 0 auto;
        margin-bottom: -4px; } }
  .portfolio-popup-content .portfolio-popup-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    padding: 100px 180px 100px 56px;
    background: #DFEAEA;
    color: rgba(0, 0, 0, 0.6);
    text-align: left;
    width: 100%; }
    @media only screen and (max-width: 1139px) {
      .portfolio-popup-content .portfolio-popup-main {
        padding: 100px 80px 100px 50px; } }
    @media only screen and (max-width: 767px) {
      .portfolio-popup-content .portfolio-popup-main {
        padding: 5%;
        min-height: 240px; } }
    .portfolio-popup-content .portfolio-popup-main .portfolio-popup-description {
      height: 80px;
      overflow: auto; }
      @media only screen and (max-width: 480px) {
        .portfolio-popup-content .portfolio-popup-main .portfolio-popup-description {
          margin: 10px 0; } }
    .portfolio-popup-content .portfolio-popup-main .portfolio-popup-links {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-flex-wrap: nowrap;
          -ms-flex-wrap: nowrap;
              flex-wrap: nowrap; }
      @media only screen and (max-width: 480px) {
        .portfolio-popup-content .portfolio-popup-main .portfolio-popup-links {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          min-height: 80px; } }
      .portfolio-popup-content .portfolio-popup-main .portfolio-popup-links a {
        padding: 12px 30px; }
      .portfolio-popup-content .portfolio-popup-main .portfolio-popup-links a.btn {
        color: rgba(0, 0, 0, 0.6);
        margin: 0; }
      .portfolio-popup-content .portfolio-popup-main .portfolio-popup-links a.btn-secondary {
        background: transparent;
        border-color: rgba(0, 0, 0, 0.38);
        -webkit-border-radius: 4px;
                border-radius: 4px;
        color: rgba(0, 0, 0, 0.6); }
        .portfolio-popup-content .portfolio-popup-main .portfolio-popup-links a.btn-secondary:hover {
          border-color: #E2FF6C;
          background: #E2FF6C; }
    .portfolio-popup-content .portfolio-popup-main h3 {
      color: rgba(0, 0, 0, 0.87); }

.popup {
  display: none;
  position: absolute;
  z-index: 100;
  position: fixed;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  max-width: 90%;
  max-height: 90vh; }

.get-price-popup {
  width: 90%;
  max-width: 426px;
  overflow: auto; }
  .get-price-popup .get-price-popup-top {
    width: 100%;
    background-image: url("../img/bg/get-price-popup-bg.png");
    position: relative; }
    .get-price-popup .get-price-popup-top img {
      margin: 69px 0 15px 0; }
    .get-price-popup .get-price-popup-top h3 {
      padding-bottom: 16px;
      position: relative; }
      .get-price-popup .get-price-popup-top h3:after {
        width: 45px;
        height: 1px;
        background: #E2FF6C;
        bottom: 0; }
    .get-price-popup .get-price-popup-top p {
      padding: 16px 0 32px 0; }
    .get-price-popup .get-price-popup-top .close {
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 24px;
      width: 21px;
      height: 21px;
      background-image: url("../img/svg-icons/close-popup-icon.svg");
      background-repeat: no-repeat;
      background-position: center; }
  .get-price-popup .get-price-popup-bottom {
    background: -webkit-linear-gradient(311.12deg, #E7EAEA 0%, #DFEAEA 100%), #C4C4C4;
    background: -o-linear-gradient(311.12deg, #E7EAEA 0%, #DFEAEA 100%), #C4C4C4;
    background: linear-gradient(138.88deg, #E7EAEA 0%, #DFEAEA 100%), #C4C4C4;
    padding: 30px 113px; }
    @media only screen and (max-width: 992px) {
      .get-price-popup .get-price-popup-bottom {
        padding: 30px 15%; } }

.sent-form-popup {
  width: 90%;
  max-width: 426px;
  overflow: auto; }
  .sent-form-popup .sent-form-popup-top {
    width: 100%;
    background-image: url("../img/bg/sent-form-popup-bg.png");
    position: relative; }
    .sent-form-popup .sent-form-popup-top img {
      margin: 69px 0 111px 0; }
    .sent-form-popup .sent-form-popup-top .close {
      cursor: pointer;
      position: absolute;
      top: 24px;
      right: 24px;
      width: 21px;
      height: 21px;
      background-image: url("../img/svg-icons/close-popup-icon.svg");
      background-repeat: no-repeat;
      background-position: center; }
  .sent-form-popup .sent-form-popup-bottom {
    background: -webkit-linear-gradient(311.12deg, #E7EAEA 0%, #DFEAEA 100%), #C4C4C4;
    background: -o-linear-gradient(311.12deg, #E7EAEA 0%, #DFEAEA 100%), #C4C4C4;
    background: linear-gradient(138.88deg, #E7EAEA 0%, #DFEAEA 100%), #C4C4C4;
    padding: 30px 113px;
    color: rgba(0, 0, 0, 0.87); }
    @media only screen and (max-width: 1040px) {
      .sent-form-popup .sent-form-popup-bottom {
        padding: 30px 15%; } }
    .sent-form-popup .sent-form-popup-bottom a {
      width: 100%;
      display: block; }
    .sent-form-popup .sent-form-popup-bottom h3 {
      padding-bottom: 16px;
      position: relative; }
      .sent-form-popup .sent-form-popup-bottom h3:after {
        width: 45px;
        height: 1px;
        background: #364250;
        bottom: 0; }
    .sent-form-popup .sent-form-popup-bottom p {
      padding: 16px 0 114px 0; }
      @media only screen and (max-width: 992px) {
        .sent-form-popup .sent-form-popup-bottom p {
          padding: 16px 0 15% 0; } }

.mob-menu-btn {
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 7px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  color: white;
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 3;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .mob-menu-btn img {
    width: 27px; }
  @media only screen and (min-width: 768px) {
    .mob-menu-btn {
      display: none; } }

.mob-menu {
  display: none; }

.mob-nav {
  max-width: 60%;
  position: fixed;
  left: 15px;
  top: 60px;
  z-index: 3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden; }
  .mob-nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .mob-nav ul li {
      background: rgba(0, 0, 0, 0.6);
      padding: 10px;
      padding-bottom: 15px; }
      .mob-nav ul li a {
        color: white;
        padding-bottom: 5px; }
        .mob-nav ul li a:hover {
          border-bottom: 1px solid #E2FF6C; }

.hidden {
  display: none; }

@media only screen and (max-width: 1140px) {
  .content {
    padding: 0 32px; }
  .topline {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .topline .topline-left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding-top: 10px; }
      .topline .topline-left .header-nav-social {
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start; }
      .topline .topline-left .header-nav-left {
        margin-bottom: 35px; }
    .topline .topline-right {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-top: 10px; }
      .topline .topline-right .header-lang-switch {
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end; }
      .topline .topline-right .header-nav-right {
        margin-bottom: 35px;
        min-width: 184px; }
  .owl-dot {
    margin-top: 15px; }
  .owl-nav .owl-prev:hover, .owl-nav .owl-next:hover {
    bottom: 34px; } }

@media only screen and (max-width: 767px) {
  .topline {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 40px; }
    .topline .topline-left {
      display: none; }
    .topline .topline-right {
      display: none; } }
