// colors
$main_background: #30353A
$dark_font: #364250
$secondary_btn_border: #21262B
$hover_color: #E2FF6C
$disabled_color:  #DFEAEA

%pseudo
    content: ''
    position: absolute

%span_base
    width: 100%
    height: 2px
    background: #fff
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px
    
.clearfix::after
    content: ''
    display: table
    clear: both

=display_flex_row
    display: flex
    flex-flow: row wrap
    justify-content: space-between

=display_flex_column
    display: flex
    flex-flow: column wrap
    justify-content: space-between

%center
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

%centered
    position: absolute
    left: 50%
    transform: translate(-50%, -50%)
