
@media only screen and (max-width : 1140px)
	.content
		padding: 0 32px
	.topline
		align-items: flex-start
		.topline-left
			display: flex
			flex-direction: column-reverse
			justify-content: flex-start
			align-items: flex-end
			padding-top: 10px
			.header-nav-social
				align-self: flex-start
			.header-nav-left
				margin-bottom: 35px
		.topline-right
			display: flex
			flex-direction: column
			justify-content: flex-start
			align-items: flex-start
			padding-top: 10px
			.header-lang-switch
				align-self: flex-end
			.header-nav-right
				margin-bottom: 35px
				min-width: 184px
	.owl-dot
	    margin-top: 15px
	.owl-nav
		.owl-prev, .owl-next
			&:hover
				bottom: 34px

@media only screen and (max-width : 767px)
    .topline
        justify-content: flex-start
        padding-left: 40px
        .topline-left
            display: none
        .topline-right
            display: none