@import "_const.sass";

header
	background-image: none
	.header-main
		padding-bottom: 200px
		.item__date
			display: block
			width: 100%
			margin-bottom: 15px
			font: 12px/1.22 "ProximaNovaBold"
			text-transform: uppercase
			letter-spacing: .1em
main
	position: relative
	background-image: none
	background-color: #fff
	overflow: initial
	.content
		transform: translateY(-100px)
.article__img-block
	width: 100%
	max-height: 575px
	// transform: translateY(-250px)
	margin-bottom: 32px
	.article__img
		width: 100%
		object-fit: cover

.article__content
	display: flex
	justify-content: flex-start
	align-items: flex-start
	padding: 32px 104px
	margin-bottom: 48px
	.content__links
		min-width: 130px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-start
	.article__all-posts
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		padding: 8px 18px
		margin-bottom: 32px
		border: 1px solid #30353A
		border-radius: 4px
		font: 10px/1.22 "ProximaNovaBold"
		color: #30353A
		text-transform: uppercase
		letter-spacing: 0.1em
		white-space: nowrap
		transition: .25s all
		&:hover
			transform: scale(1.1,1.1)
		.link-text
			margin-left: 15px
	.article__author
		width: 100%
		margin-top: 32px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-start
		.name-post-wrapper
			width: 100%
			display: flex
			flex-direction: column
			align-items: center
			justify-content: flex-start
	.written-by
		display: block
		margin-bottom: 8px
		font: 9px/1.22 "ProximaNovaBold"
		color: #30353A
		text-transform: uppercase
		letter-spacing: 0.1em
	.author__image
		display: block
		width: 48px
		height: 48px
		margin-bottom: 8px
		.author__photo
			width: 48px
			height: 48px
	.author__linkedin
		path
			transition: .5s all
		&:hover
			path
				fill-opacity: 1
	.author__name,
	.author__post
		font: 14px/1.22 "ProximaNovaRegular"
		color: #30353A
		margin-bottom: 4px
	.author__post
		font-size: 12px
		margin-bottom: 10px
	.article__share-list
		margin-top: 64px
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-start
	.article__share-item
		width: 100%
		margin-bottom: 8px
		transition: .25s all
		&:hover
			transform: scale(1.1,1.1)
	.article__share-link
		width: 100%
		display: flex
		align-items: center
		justify-content: center
		border-radius: 8px
		padding: 8px 17px
		.share__svg
			width: 16px
			height: 16px
		.share__text
			display: block
			padding-top: 2px
			margin-left: auto
			font: 9px/1.22 "ProximaNovaBold"
			letter-spacing: 0.1em
			color: #fff
			text-transform: uppercase
		&.article__share-link--facebook
			background: #3A5897
		&.article__share-link--twitter
			background: #1DA1F2
			.share__svg
				transform: translateY(2px)
		&.article__share-link--linkedin
			background: #0077B5
			.share__svg
				transform: translateY(-2px)
		&.article__share-link--telegram
			background: #179CDE
	.content__text
		padding-left: 60px
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-start
		.content-list
			width: 100%
			list-style: circle
			list-style-type: circle
			padding-left: 16px
			li
				display: list-item
				width: 100%
				margin-bottom: 16px
				font: 20px/1.22 "ProximaNovaRegular"
				color: #000000
				text-align: left
		.article__image
			min-width: 100%
			max-width: 353px
			margin-bottom: 32px
		.share-list__wrapper
			width: 100%
			display: flex
			align-items: center
			justify-content: space-between
			.wrapper-text
				max-width: 125px
				width: 100%
				padding-right: 10px
				font: 12px/1.22 "ProximaNovaRegular"
				color: #000
				text-align: left
		.article__share-list
			margin-top: 0
			flex-direction: row
			justify-content: center
		.article__share-item
			max-width: 92px
			width: 100%
			margin-right: 16px
			margin-bottom: 0
			&:last-child
				margin-right: 0
	.article__heading
		display: block
		font: 24px/1.22 "ProximaNovaBold"
		margin-bottom: 24px
		color: rgba(0, 0, 0, 0.87)
		text-align: left
	.article__text
		font: 20px/1.44 "ProximaNovaRegular"
		margin-bottom: 24px
		color: rgba(0, 0, 0, 0.87)
		text-align: justify
		margin-bottom: 32px
.article-comments
	width: 100%
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: flex-start
	padding-left: 104px
	padding-right: 104px
	padding-bottom: 24px
	.comments__item
		&:last-child,
		&:first-child
			border-top: 1px solid #E8E8E8
	.comments-heading
		font: 26px/1.22 "MerriweatherRegular"
		color: rgba(0, 0, 0, 0.87)
		margin-bottom: 32px
		padding-left: 24px
	.comment__block
		padding: 32px 24px
	.reply__block
		border-top: 1px solid #E8E8E8
		padding-left: 64px
	.item__topline
		display: flex
		justify-content: flex-start
		align-items: center
		width: 100%
	.item__author-info
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: flex-start
		padding-left: 16px
	.info__author-name
		display: block
		margin-bottom: 8px
		font: 24px/1.22 "ProximaNovaRegular"
		color: #222222
	.info__comment-date
		display: block
		font: 12px/1.22 "ProximaNovaRegular"
		color: #222222
		text-transform: uppercase
		letter-spacing: 0.06em
	.item__reply
		margin-left: auto
		font: 9px/1.22 "ProximaNovaBold"
		letter-spacing: 0.1em
		text-transform: uppercase
		color: rgba(0, 0, 0, 0.38)
		cursor: pointer
		transition: .25s all
		&:hover
			color: #000
	.item__text
		margin-top: 24px
		font: 17px/1.44 "Arial"
		padding-left: 64px
		color: #222222
		text-align: left
	.form-heading
		margin-top: 32px
	.comments__form-wrapper
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		padding-bottom: 20px
		border-bottom: 1px solid #E8E8E8
	.comments__form
		max-width: 400px
		width: 100%
		display: flex
		flex-direction: column
		align-items: center
		justify-content: flex-start
		margin: 0px auto
		.form__input
			width: 100%
			padding: 8px 16px
			border: none
			border-bottom: 1px solid rgba(0, 0, 0, 0.38)
			margin-bottom: 16px
			font: 14px/1.22 "ProximaNovaRegular"
			color: rgba(0, 0, 0, 0.6)
			outline: none
			&:hover
				border-color: #000
				color: #000
		.form__input:hover::placeholder
			color: #000

		.form__input::placeholder
			font: 14px/1.22 "ProximaNovaRegular"
			color: rgba(0, 0, 0, 0.6)
		.form__textarea
			width: 100%
			min-height: 115px
			padding: 8px 16px
			margin-top: 8px
			font: 14px/1.22 "ProximaNovaRegular"
			color: rgba(0, 0, 0, 0.6)
			border-radius: 4px
			border: 1px solid rgba(0, 0, 0, 0.38)
			resize: none
			&:hover
				border-color: #000
				color: #000
		.form__textarea:hover::placeholder
			color: #000
		.form__bottom
			width: 100%
			display: flex
			align-items: center
			justify-content: space-between
			.small-text
				cursor: pointer
				margin-top: 0
				&:hover
					color: #000
				&:before
					top: -2px
	.privacy
    padding: 8px
    color: rgba(0, 0, 0, 0.6)
    input[type='checkbox']
        display: none
        & + label::before
            @extend %pseudo
            width: 16px
            height: 16px
            border: 1px solid rgba(0, 0, 0, 0.38)
            border-radius: 4px
            left:  0px
            top: 0
        &:checked + label::after
            &:checked::after
            @extend %pseudo
            width: 16px
            height: 16px
            background-image: url("../img/svg-icons/checked.svg")
            top: 0
            left: 1px
            background-repeat: no-repeat
            background-position: center center
    label
        display: block
        max-width: 254px
        position: relative
        padding-left: 34px
        margin-top: 35px
        a
            color: rgba(0, 0, 0, 0.87)
.other-articles
	padding-top: 48px
	margin-bottom: 32px
	.block-title
		color: #000
	.other-articles__list
		margin-top: 32px
		width: 100%
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap
	.other-articles__item
		display: flex
		align-items: stretch
		width: calc(50% - 12px)
		margin-bottom: 24px
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16)
		background: #fff
		border-radius: 6px
		overflow: hidden
		&:first-child
			margin-right: 24px
	.item__image-wrapper
		max-width: 230px
		min-width: 200px
		width: 100%
		position: relative
		.item__image
			width: 100%
			height: 100%
			position: absolute
			left: 0
			top: 0
			object-fit: cover
			//clip: rect(0,100px,304px,0)

	.item__content
		padding: 16px
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: flex-start
	.item__date
		display: block
		width: 100%
		margin-bottom: 24px
		font: 10px/1.22 "ProximaNovaBold"
		text-transform: uppercase
		letter-spacing: .1em
		text-align: left
		color: rgba(0, 0, 0, 0.38)
	.item__heading
		display: block
		font: 22px/1.22 "MerriweatherBold"
		letter-spacing: 0.04em
		color: #43484C
		text-align: left
		margin-bottom: 16px
		transition: .25s all
		&:hover
			color: #000000

	.item__description
		color: #30353A
		font: 14px/1.22 "ProximaNovaRegular"
		text-align: left
	.item__readmore
		margin-top: 52px
		margin-left: auto
		font: 10px/1.22 "ProximaNovaBold"
		text-transform: uppercase
		letter-spacing: .1em
		text-align: left
		color: rgba(0, 0, 0, 0.6)
		padding-bottom: 8px
		border-bottom: 2px solid rgba(0, 0, 0, 0.6)
		transition: .25s all
		&:hover
			color: #000
			border-color: #000


.contact-us-wrapper
	position: relative
	background: #30353A
	&:after
		display: none
	//&:after
	//	content: ''
	//	position: absolute
	//	left: 0
	//	top: 200px
	//	width: 100vw
	//	height: 60%
	//	background-color: #30353A
	.content
		position: relative
.contuct-us-form
	right: calc(72px + 102px)
.contact-us
	position: relative

@media only screen and (max-width: 992px)
	.article__content
		padding: 32px 27px
		.content__text
			padding-left: 30px
		.article__share-link
			display: flex
			justify-content: center
			padding: 8px
			.share__text
				margin-left: 10px
	.article-comments
		padding-left: 27px
		padding-right: 27px

	.other-articles
		.other-articles__list
			flex-direction: column
			width: 100%
		.other-articles__item
			max-width: 600px
			width: 100%
			&:first-child
				margin-right: 0

@media only screen and (max-width:768px)
	.article__img-block
		margin-bottom: 10px
	.article__content
		flex-direction: column
		.content__links
			//flex-direction: row
			//flex-wrap: wrap
			width: 100%
		.article__all-posts
			width: 100%
			margin-bottom: 16px
		.article__author
			width: 100%
			margin-top: 8px
			min-width: 200px
			//width: 30%
			flex-direction: row
			.written-by
				margin-bottom: 0
				margin-right: 16px
			.name-post-wrapper
				width: initial
				align-items: flex-start
				padding-left: 16px
			.author__linkedin
				margin-left: auto


		.article__share-list
			//width: calc(70% - 16px)
			width: 100%
			//padding-left: 16px
			margin-top: 16px
			flex-direction: row
		.article__share-item
			margin-right: 8px
			margin-bottom: 0
			&:last-child
				margin-right: 0
		.content__text
			margin-top: 24px
			padding-left: 0

@media only screen and (max-width:640px)
	.article__content,
	.article-comments
		padding-left: 0
		padding-right: 0

	.content__text
		.article__text
			font-size: 16px
		.article__share-list
			padding-left: 32px
			flex-wrap: wrap
			.article__share-item
				max-width: initial
				width: calc(50% - 8px)
				margin-bottom: 16px
				&:nth-child(2n)
					margin-right: 0

	.other-articles__list
		.item__heading
			font-size: 18px
		.item__readmore
			margin-top: 16px


@media only screen and (max-width:480px)
	.content
		padding: 0px 8px
	.other-articles__item
		flex-direction: column
		.item__image-wrapper
			max-width: initial
			min-height: 150px
	.author__post
		max-width: 150px
		text-align: left
	.article__content
		.article__all-posts
			&:hover
				transform: scale(.9,.9)
		.article__share-list
			flex-wrap: wrap
			.article__share-item
				margin-bottom: 8px
				margin-right: 0
				&:hover
					transform: scale(.9,.9)
		.content__text
			.article__image
				min-width: initial
				max-width: initial
				width: 100%
			.share-list__wrapper
				flex-direction: column
				.wrapper-text
					margin-bottom: 16px
					max-width: initial
				.article__share-list
					padding-left: 0
					flex-direction: column
					width: 100%
				.article__share-item
					width: 100%
					margin-right: 8px
					&:nth-child(2n)
						margin-right: 8px
	.article-comments
		.comments__form
			max-width: initial
		.info__author-name
			font-size: 16px
		.comment__block
			padding: 8px
		.reply__block
			padding-top: 10px
			padding-left: 16px
		.item__text
			font-size: 14px
			padding-left: 16px

