@import "../css/font"
@import "_const"

header
	position: relative
	background-image: url("../img/blog/blog-vector.svg")
	background-size: contain
	&:before
		content: ''
		position: absolute
		left: 0	
		top: 0
		width: 100%
		height: 100vh
		background-image: url("../img/bg/blog-bg.jpg")
		background-repeat: no-repeat
		background-size: cover
		background-position: center
		z-index: -2
	&:after
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%
		background: linear-gradient(180deg, #31363B 0%, rgba(49, 54, 59, 0) 100%)
		z-index: -1

.header-main
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	padding-bottom: 100px
	.item__date
		text-align: center
		transform: translateY(-100px)
		opacity: 0
	.one-bg
		top: calc(50% - 50px)
	.hero-title
		color: $hover_color
	.hero-title--article
		margin-top: 16px
		margin-bottom: 32px
		text-shadow: 0px 2px 12px #000000	


main
	position: relative
	margin-top: -70px
	&:after
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 87%
		background-image: url("../img/blog/svg/blog-bg-pattern.png")
		z-index: -1
		opacity: .2

.post-feed
	width: 100%

.post-feed__row
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	margin-bottom: 24px
	&:nth-child(2n)
		flex-direction: row-reverse
		.row__item
			&:first-child
				margin-right: 0
				margin-left: 24px

	&:nth-child(3n)
		.row__item
			width: calc(50% - 12px)
		.row__item--wider
			width: calc(50% - 12px)
.row__item
	position: relative
	width: 40%
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16)
	border-radius: 4px
	overflow: hidden
	transition: .5s all
	&:first-child
		margin-right: 24px
	&:hover
		transition: .5s all
		.item__title
			height: 100%
		.item__description-hidden
			max-height: initial
			opacity: 1
		.item__readmore
			transition: .5s all
			opacity: 1

	.img-wrapper
		display: flex
		justify-content: center
		align-items: center
		position: relative

	.item__bg
		width: 100%
		max-height: 315px
		object-fit: cover
		background-position: center
		vertical-align: middle

	.item__title
		position: absolute
		left: 0
		bottom: 0
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: flex-start
		padding: 24px 16px
		z-index: 1
		height: 104px
		transition: .75s all
		&:after
			content: ''
			position: absolute
			left: 0
			top: 0
			width: 100%
			min-height: 100%
			background-color: #364250
			opacity: .9
			z-index: -1
			transition: .75s all


	.item__date
		display: block
		width: 100%
		margin-bottom: 15px
		font: 10px/1.22 "ProximaNovaBold"
		text-transform: uppercase
		letter-spacing: .1em
		text-align: left

	.item__heading
		display: block
		font: 22px/1.22 "MerriweatherBold"
		letter-spacing: 0.04em
		color: $hover_color

	.item__description-hidden
		position: relative
		display: block
		flex-grow: 1
		overflow-y: hidden
		height: 100%
		margin-top: 32px
		opacity: 0
		transition: .75s all

	.item__description
		display: block
		margin-bottom: 24px
		max-height: 115px
		font: 16px/1.22 "ProximaNovaRegular"
		color: #DFEAEA
		text-align: left
		overflow-y: auto


	.item__readmore
		display: block
		width: 100%
		padding: 8px
		border: 1px solid #FFFFFF
		border-radius: 4px
		font: 12px/1.22 "ProximaNovaBold"
		letter-spacing: 0.1em
		text-transform: uppercase
		color: #fff
		transition: .5s all
		&:hover
			transition: .5s all
			color: $hover_color
			border-color: $hover_color

.row__item--wider
	width: calc(60% - 24px)

.feed-pagination
	display: flex
	align-items: center
	justify-content: center
	margin-top: 40px

.pagination__item
	.pagination__link
		display: block
		position: relative
		padding: 12px
		transition: .5s all
		font: 14px/1.22 "ProximaNovaBold"
		&:after
			content: ''
			position: absolute
			left: 0
			bottom: 0
			height: 1px
			width: 100%
			background-color: $hover_color
			opacity: 0
			transition: .25s all
	&:first-child,
	&:last-child
		.pagination__link
			&:after
				display: none
			&:hover
				path
					fill: $hover_color
	&.disabled
		.pagination__link
			&:after
				display: none
	&:hover,
	&.active
		.pagination__link
			color: $hover_color
			&:after
				opacity: 1

.post-suggest
	position: relative
	width: 100%
	display: flex
	padding-top: 60px
	margin-top: 30px
	padding-left: 100px
	padding-right: 100px
	&:after
		content: ''
		display: block
		position: absolute
		right: 100px
		top: 50%
		transform: translateY(-50%)
		width: 430px
		height: 360px
		background-image: url("../img/blog/mac-and-letter.jpg")
		background-repeat: no-repeat

.post-suggest__wrapper
	width: 100%
	position: relative
	z-index: 1
	display: flex
	flex-direction: column
	align-items: flex-start
	justify-content: flex-start

.suggest__heading
	margin-bottom: 32px
	text-align: left

.suggest__text
	display: block
	margin-bottom: 32px
	font: 12px/1.22 "ProximaNovaBold"
	letter-spacing: 0.06em
	text-align: left
	text-transform: uppercase

.suggest__contact
	display: block
	width: 234px
	padding: 18px 20px
	padding-top: 22px
	padding-bottom: 16px
	font: 9px/1.22 "ProximaNovaBold"
	letter-spacing: 0.1em
	text-transform: uppercase
	color: #364250
	background: linear-gradient(0deg, #C1D866 0%, #EBF945 100%)
	box-shadow: 0px 2px 0px #F1FCC8
	border-radius: 8px
// .contact-us
// 	position: relative
// 	&:after
// 		content: ''
// 		position: absolute
// 		top: 200px
// 		left: -295px
// 		width: 100vw
// 		height: 100%
// 		background-color: $main_background
// 		z-index: 0


.contact-us-wrapper
	position: relative
	background-image: linear-gradient(to bottom,transparent 20%,#30353A 20%)
	.content
		position: relative
		z-index: 20
	&:after
		content: ''
		position: absolute
		left: 0
		top: 0
		width: 100vw
		height: 110px
		background-image: url("../img/bg/header-vector.png")
		background-repeat: no-repeat
		background-size: contain
		z-index: 0


.popup-comment
	max-width: 813px
	width: 100%
.message-form.contuct-form
	width: 100%
	display: flex
	align-items: stretch
	flex-direction: row
	flex-wrap: wrap
	.small-input-wrapper,
	.form__textarea
		width: calc(50% - 8px)
	.small-input-wrapper
		.field-wrap
			input
				width: 100%
			&:first-child
				margin-top: 0
	.form__textarea
		background-color: transparent
		resize: none
		border: 1px solid rgba(0, 0, 0, 0.38)
		outline: none
		padding: 13px 16px
		border-radius: 4px
		margin-left: 16px
		font: 14px/1.22 "ProximaNovaRegular"
		color: rgba(0, 0, 0, 0.6)
		color: #000000
	.form__textarea::-webkit-input-placeholder
		color: rgba(0, 0, 0, 0.6)
		font: 14px/1.22 "ProximaNovaRegular"
	.form__textarea::-moz-placeholder
		color: rgba(0, 0, 0, 0.6)
		font: 14px/1.22 "ProximaNovaRegular"
	.form__textarea:-moz-placeholder
		color: rgba(0, 0, 0, 0.6)
		font: 14px/1.22 "ProximaNovaRegular"
	.form__textarea:-ms-input-placeholder
		color: rgba(0, 0, 0, 0.6)
		font: 14px/1.22 "ProximaNovaRegular"
.form__controls-wrapper
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	padding-top: 10px
	.btn
		margin-left: 16px
	> *
		width: 50%
		.btn
			margin: 0
	.privacy
		.small-text
			margin: 0

.get-price-popup-bottom
	.attach-label
		color: rgba(#000, .38)
	.field-wrap
		&:hover
			.attach-label
				color: #000000

#form__attach-file
	display: none

@media  only screen and (max-width: 992px) 
	.post-feed__row
		width: 100%
		flex-direction: column	
		&:nth-child(2n)
			flex-direction: column
			.row__item
				&:first-child
					margin-right: 0
					margin-left: 0
					margin-bottom: 24px
		&:nth-child(3n)
			.row__item--wider,
			.row__item
				width: 525px
		.row__item
			width: 525px
			margin-right: 0
			&:first-child
				margin-bottom: 24px
	
	.post-suggest
		padding-left: 30px
		padding-right: 30px
		&:after
			right: 30px
	.popup-comment
		max-width: 424px
		.get-price-popup-bottom
			.message-form
				flex-direction: column
			.small-input-wrapper
				width: 100%
			.popup__texarea
				width: 100%
				margin-left: 0
				margin-top: 24px
			.form__controls-wrapper
				flex-direction: column
			.privacy
				width: 100%
			.button-link
				width: 100%
				margin-left: 0
				margin-bottom: 0

@media only screen and (max-width: 767px)
	.post-suggest
		&:after
			display: none
		.post-suggest__wrapper
			display: flex
			text-align: center
			align-items: center
			.suggest__text,
			.suggest__heading
				text-align: center
			.suggest__contact
				margin-right: 0


@media only screen and (max-width: 640px)
	.post-suggest
		padding-top: 20px
		.post-suggest__wrapper
			align-items: center
		.suggest__heading
			text-align: center



	.post-feed__row
		width: 100%
		flex-direction: column	
		&:nth-child(3n)
			.row__item--wider,
			.row__item
				width: 100%
		.row__item
			width: 100%

@media only screen and (max-width: 480px)
	.post-feed__row
		.item__heading
			font-size: 18px
		.item__title
			padding: 8px	
		.item__description-hidden
			margin-top: 8px
		.item__description
			max-height: calc(100% - 47px)
			margin-bottom: 8px
	.post-suggest
		padding-right: 0
		padding-left: 0
		.suggest__text
			text-align: center
		.suggest__heading
			font-size: 24px
			line-height: 1.22
		&:after
			right: 50%
			transform: translate(50%, -50%) scale(.6,.6)

@media only screen and (max-width: 350px)
	.contact-us
		.contuct-us-form
			width: 100%

