@import "../css/font"
@import "_const"

*
    margin: 0
    padding: 0
    box-sizing: border-box
ul
    list-style-type: none
    li
        display: inline-block
body
    text-align: center
    background: $main_background
    color: white
    font-family: 'ProximaNovaRegular'
    font-size: 14px
    line-height: 16px
    width: 100%
    min-width: 320px
main
    overflow: hidden
a
    text-decoration: none
    color: inherit
    outline: none
    transition: all .2s
.body-font
    color: #ffffff
    font-family: 'ProximaNovaRegular'
    font-size: 14px
    line-height: 16px
    letter-spacing: 1px
.hero-title
    font-family: 'MerriweatherRegular'
    font-weight: 600
    font-size: 36px
    line-height: 50px
    letter-spacing: 2px
.block-title
    font-family: 'MerriweatherBold'
    font-size: 26px
    line-height: 39px
    margin: 18px 36px
    letter-spacing: 2px
.subheading
    font-family: 'MerriweatherRegular'
    font-size: 18px
    line-height: 23px
    color: rgba(0, 0, 0, 0.87)
.button-link
    font-family: 'ProximaNovaBold'
    font-size: 9px
    line-height: 11px
    color: $dark_font
.small-text
    font-family: 'ProximaNovaRegular'
    font-size: 14px
    line-height: 14px
    text-align: left
    color: rgba(0, 0, 0, 0.6)
.upper
    text-transform: uppercase
.hover
    transition: all .2s
    &:hover
        color: $hover_color
.btn
    text-transform: uppercase
    background: linear-gradient(0deg, #C1D866 0%, #EBF945 100%), #E2FF6C;
    box-shadow: 0px 2px 0px #F1FCC8;
    border-radius: 4px;
    border: none
    outline: none
    padding: 16px 56px
    margin: 16px 0
    transition: all .2s
    cursor: pointer
    span
        padding-bottom: 2px
    &:hover
        background: linear-gradient(0deg, #D9E89D 0%, #F2FB89 100%)
        outline: none
        span
            border-bottom: 1px solid $dark_font
.btn-secondary
    color: $dark_font
    background: white
    border: 1px solid $secondary_btn_border
    box-shadow: none
    padding: 10px 30px
    cursor: pointer
    transition: all .2s
    &:hover
        background: $hover_color
        text-decoration: none
        border-color: $hover_color
.content
    width: 100%
    max-width: 1234px
    padding: 0 82px
    margin: 0 auto

.main-block
    +display_flex_column
    position: relative
    width: 100%
    margin-top: 60px
header
    background-image:  url("../img/bg/header-vector.png")
    background-repeat: no-repeat
    background-position: bottom
    background-size: contain
    min-height: 100vh
    width: 100%
    .container
        background-color: transparent
.topline
    width: 100%
    padding: 12px 22px
    +display_flex_row
    align-items: center
.topline-left, .topline-right
    +display_flex_row
    width: calc( (100% - 289px) /2 )
.topline
    transform: translateY(-100px)
    opacity: 0
    .header-nav-left li a, .header-nav-right li a
        padding-bottom: 5px
        margin: 0 9px
        &:hover
            border-bottom: 1px solid #E2FF6C
a.social-icon
    display: block
    width: 18px
    height: 18px
    margin: 0 9px
.logo
    margin: 0 50px
    @media only screen and (max-width : 1140px)
        margin: 0
    img
        height: 74px
    @media only screen and (max-width : 767px)
        position: relative
    #top-logo-big
        margin: 0
        @media only screen and (max-width : 767px)
            display: none
    #top-logo-small
        margin-top: 10px
        height: 28px
        display: none
        @media only screen and (max-width : 767px)
            display: block
.header-lang-switch a
    color: $dark_font
    background: white
    border-radius: 4px
    text-transform: uppercase
    padding: 10px 15px
    transition: all .2s
    &:hover
        background-color: $hover_color
#lang-mobile
    display: none
    @media only screen and (max-width : 767px)
        position: absolute
        top: 25px
        right: 10px
        display: block
.header-main
    position: relative
    min-height: calc(100vh - 108px)
    +display_flex_column
    justify-content: center
    align-items: center
    h3
        max-width: 320px
        margin: 16px
        transform: translateY(-100px)
        opacity: 0
    h1
        position: relative
        margin: 0
        max-width: 770px
        z-index: 2
        transform: translateY(-100px)
        opacity: 0
        @media only screen and (max-width : 440px)
            font-size: 24px
    a
        transform: translateY(-100px)
        opacity: 0
.one-bg
    position: absolute
    top: calc(100vh - 66vh)
    left: 50%
    transform: translate( -50%, calc(-50% - 100px))
    opacity: 0

.services
    position: relative
    .services-dots
        position: absolute
        top: 440px
        left: 200px
        @media only screen and (max-width : 599px)
            display: none
        i
            display: inline-block
            width: 6px
            height: 6px
            border-radius: 2px
            background: white
            opacity: 0.3
            margin-right: 12px
            transition: opacity .2s
            &:hover
                opacity: 0.6
        .activeDot
            opacity: 1
            &:hover
                opacity: 1
    .services-heading
        background: $main_background
        max-width: 362px
    .services-outline
        position: absolute
        z-index: -1
        top: 37px
        left: 50px
        right: 50px
        bottom: 0
        border: 1px solid #C1D866
        border-radius: 2px
        @media only screen and (max-width : 767px)
            left: 25px
            right: 25px
    .service-info
        max-height: 363px
        width: 100%
        display: none
        flex-wrap: nowrap
        .service-info-image
            width: 48.9%
            img
                object-fit: cover;
        .service-info-description
            +display_flex_column
            align-items: flex-start
            flex-wrap: nowrap
            background: white
            max-width: 51.1%
            padding: 5.7% 9.7%
            h2
                text-align: left
                padding-bottom: 32px
            p
                position: relative
                &:before
                    @extend %pseudo
                    width: 64px
                    height: 1px
                    background: $dark_font
                    top: -16px
                    left: 0
        @media only screen and (max-width : 767px)
            flex-direction: column
            align-items: center
            max-height: 100%
            .service-info-image
                width: 100%
                img
                    max-width: 100%
                    margin-bottom: -4px
            .service-info-description
                width: 100%
                max-width: 523px
                padding: 3.5% 9.7%;
    .services-list
        +display_flex_row
        width: 100%
        padding: 0 10%
        margin: 16px auto
        ul
            width: 100%
            +display_flex_row
            justify-content: flex-start
            li
                margin: 0 12px
                width: calc(25% - 24px)
            @media only screen and (max-width : 1230px)
                justify-content: center
                li
                    margin: 0 12px
                    width: 186px
        a
            display: block
            height: calc(100% - 16px)
            border-bottom: 1px solid white
            color: white
            margin-bottom: 16px
            transition: all .2s
            padding-bottom: 5px
            &:hover
                color: $hover_color
                border-color: $hover_color
.block-heading
    position: relative
    left: 50%
    transform: translateX(-50%)
    margin-bottom: 24px
    padding: 18px 36px
    h2
        display: inline-block
        margin: 0 auto
        position: relative
        z-index: 2
    img
        position: absolute
        top: 40px
        left: 50%
        transform: translate(-50%, -50%)
.counts
    padding:  0 50px
    @media only screen and (max-width : 767px)
        padding: 0
    .counts-content
        +display_flex_row
        justify-content: flex-end
        position: relative
        width: 100%
        min-height: 430px
        background-image: url("../img/bg/counts-bg.png")
        background-position: center
        background-repeat: no-repeat
        background-size: contain
        @media only screen and (max-width : 992px)
            justify-content: center
        svg
            position: absolute
            left: 15px
            top: 0
            z-index: -1
            @media only screen and (max-width : 992px)
                display: none
        .counts-count
            +display_flex_row
            justify-content: flex-start
            flex-wrap: nowrap
            align-items: center
            min-width: 320px
            @media only screen and (max-width : 992px)
                justify-content: center
                padding-left: 15px
            @media only screen and (max-width : 380px)
                min-width: 260px
            &.count1
                width: 40%
                @media only screen and (max-width : 992px)
                    width: 60%
            &.count2
                width: 70%
                @media only screen and (max-width : 992px)
                    width: 60%
            &.count3
                width: 86%
                @media only screen and (max-width : 992px)
                    width: 60%
            .count-text
                min-width: 200px
                max-width: 264px
                margin-left: 30px
                font: normal 18px/1 'ProximaNovaRegular'
                text-align: left
                @media only screen and (max-width : 380px)
                    min-width: 150px
            .count-img
                text-align: center
                line-height: 96px
                background-image: url("../img/bg/counts-rectangle-in.png")
                min-width: 96px
                height: 96px
                position: relative
                margin: 0
                &:before
                    @extend %pseudo
                    background-image: url("../img/bg/counts-rectangle-out.png")
                    left: -5px
                    top: 5px
                    width: 96px
                    height: 96px
                    z-index: -1
.portfolio
    position: relative
    background-image: url("../img/bg/portfolio-bg-1.png"), url("../img/bg/portfolio-bg-2.png")
    background-repeat: no-repeat
    background-size: contain
    width: 100%
    margin-top: 60px
    padding-top: 95px
    &:before
        @extend %pseudo
        height: 3px
        background: $main_background
        top: -1px
        left: 0
        width: 100%
    .content
        margin-top: 0
        .portfolio-content
            +display_flex_row
            justify-content: flex-start
            flex-wrap: wrap
            padding-top: 72px
            @media only screen and (max-width : 800px)
                justify-content: center
                padding: 0
            .portfolio-item
                position: relative
                min-width: 172px
                max-width: calc( (100% - 16px) / 4 )
                width: 254px
                max-height: 351px
                height: 31vw
                border-radius: 4px
                box-shadow: 0px 18.1126px 36.2252px rgba(0, 0, 0, 0.24)
                margin: 2px
                overflow: hidden
                transition: all 0.4s ease-out
                @media only screen and (max-width : 767px)
                    min-height: 238px
                &:nth-child(1)
                    margin-top: -48px
                    @media only screen and (max-width : 785px)
                        margin: 2px
                &:nth-child(2n + 2)
                    margin-top: -24px
                    @media only screen and (max-width : 785px)
                        margin: 2px
                &:nth-child(4n + 4)
                    margin-top: -72px
                    @media only screen and (max-width : 785px)
                        margin: 2px
                &:nth-child(4n + 1)
                    margin-top: -48px
                    @media only screen and (max-width : 785px)
                        margin: 2px
                .portfolio-item-bg-img
                    width: 100%
                    position: absolute
                    top: 0
                    left: 0
                .portfolio-item-info
                    +display_flex_column
                    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.24);
                    justify-content: space-between
                    width: 100%
                    min-height: 100%
                    background: #364250
                    transition: opacity .25s
                    border-radius: 4px
                    padding: 20px 16px
                    opacity: 0
                    cursor: pointer
                    transition: all 0.4s ease-out
                    @media only screen and (max-width : 850px)
                        padding: 0 10px 10px 10px
                    .animate-text
                        opacity: 0
                        transition: all 0.4s ease-in-out
                    &:hover
                        opacity: 0.9
                        .animate-text
                            transform: translateX(0)
                            opacity: 1
                    h3
                        text-align: left
                        margin-top: 8px
                        color: $hover_color
                        letter-spacing: 2px
                        transform: translateX(400px)
                        height: 50px
                        overflow: auto
                        @media only screen and (max-width : 992px)
                            font-size: 14px
                    p.small-text
                        color: #DFEAEA
                        max-height: 8em
                        overflow: auto
                        transform: translateX(-400px)
                        transition-delay: 0.1s
                    p.upper
                        font: bold 9px 'ProximaNovaBold'
                        letter-spacing: 1px
                        text-align: left
                        transform: translateX(400px)
                        transition-delay: 0.2s
                        span
                            margin-left: 15px
                    a.btn-secondary
                        background: transparent
                        border-radius: 4px
                        border-color: white
                        color: white
                        padding: 5px 0
                        min-width: 100%
                        margin-top: 15px
                        transform: translateX(-400px)
                        transition-delay: 0.15s
                        &:hover
                            background: $hover_color
                            border-color: $hover_color
                            color: $dark_font
#portfolio-get-more
    padding: 6px 48px
    background: transparent
    border-radius: 4px
    border-color: white
    color: white
    margin: 0 auto
    margin-top: 30px
    &:hover
        background: $hover_color
        border-color: $hover_color
        color: $dark_font
.team-member
    background-image: url("../img/bg/team-member-bg.png")
    background-repeat: no-repeat
    background-position: bottom
    max-width: 186px
    min-height: 285px
    +display_flex_column
    align-items: center
    padding-bottom: 15px
    margin: auto
    p.member-position
        color: #DFEAEA
        text-align: center
        max-width: 90%
.about-content
    +display_flex_row
    flex-wrap: nowrap
    align-items: center
    justify-content: center
    @media only screen and (max-width : 767px)
        flex-direction: column
    p
        max-width: 420px
        text-align: left
        margin-left: 24px
        font-size: 16px
        @media only screen and (max-width : 767px)
            margin: 0
            text-align: center
    img
        max-width: 100%
.expert-content
    +display_flex_row
    align-items: center
    flex-wrap: nowrap
    position: relative
    padding: 20px
    border-width: 1px
    border-style: solid
    border-image: url('../img/bg/expert-border.png') 30 stretch
    width: 100%
    max-width: 862px
    margin: 0 auto
    margin-top: 13px
    padding: 32px 24px 0 24px
    min-height: 289px
    @media only screen and (max-width : 555px)
        flex-direction: column
    .owl-carousel .owl-item img
        width: auto !important
    .expert-slide
        +display_flex_row
        flex-wrap: nowrap
        align-items: center
        @media only screen and (max-width : 555px)
            flex-direction: column
    &:before
        @extend %pseudo
        background-image: url("../img/svg-icons/quotes.svg")
        transform: rotate(180deg)
        top: -45px
        left: 50px
        width: 66px
        height: 57px
        @media only screen and (max-width : 539px)
            left: 0
        @media only screen and (max-width : 420px)
            display: none
    &:after
        @extend %pseudo
        background-image: url("../img/svg-icons/quotes.svg")
        bottom: -45px
        right: 50px
        width: 66px
        height: 57px
        @media only screen and (max-width : 539px)
            right: 0
        @media only screen and (max-width : 420px)
            display: none
    .expert-absolute-elements
        a
            @extend %centered
            padding: 12px 80px
            bottom: -50px
            @media only screen and (max-width : 555px)
                padding: 12px 25px
    .expert-arrow-left
        @extend %center
        left: 0
    .expert-arrow-right
        @extend %center
        left: 100%
        svg
            transform: rotate(180deg)
    .expert-author
        max-width: 175px
        min-width: 175px
        margin-right: 35px
        @media only screen and (max-width : 555px)
            margin-right: 0
        .author
            +display_flex_row
            align-items: center
            @media only screen and (max-width : 555px)
                flex-direction: column
                align-items: center
                justify-content: flex-start
                height: 150px
            .author-info
                +display_flex_column
                align-items: center
                max-width: calc(100% - 38px)
                &>span
                    text-transform: uppercase
                    color: white
                    margin-bottom: 5px
                &>p
                    text-align: center
                    color: #DFEAEA
                    span
                        margin: 17px 0 4px 0
                        display: inline-block
            .author-separator
                background-image: url("../img/svg-icons/author-separator.svg")
                width: 6px
                height: 200px
                margin-left: 32px
                @media only screen and (max-width : 555px)
                    display: none
    .expert-message
        text-align: left
        max-width: 610px
        max-height: 200px
        overflow: auto
        padding-right: 10px
#partners
    .partners-content
        +display_flex_row
        align-items: center
        flex-wrap: nowrap
        position: relative
        width: 100%
        max-width: 862px
        margin: 0 auto
        padding: 0 24px
    .partners-slider
        +display_flex_row
        justify-content: center
    .partner-slide
        margin: auto
        img
            height: 40px
            width: auto
            display: block
            margin: 0 auto
#expert-slider .owl-nav, #partners-slider .owl-nav
    display: block !important
    margin: 10px 0 50px 0 !important
    .owl-prev, .owl-next
        width: 40px
        height: 40px
        border-radius: 4px
        display: flex !important
        align-items: center !important
        justify-content: center !important
        position: absolute
        overflow: hidden
        bottom: 50%
        outline: none
        background: transparent
        span
            display: flex !important
            align-items: center !important
            justify-content: center !important
            width: 40px
            height: 40px
            background: #364250
            border-radius: 4px
            transition: all .3s
            font-size: 20px
    .owl-prev
        left: -50px
        &:hover
            span
                transform: scale(.8)
                color: $hover_color
    .owl-next
        right: -50px
        &:hover
            span
                transform: scale(.8)
                color: $hover_color
.contact-us
    +display_flex_row
    position: relative
    align-items: center
    width: 100%
    min-height: 348px
    max-width: 1022px
    margin: 0 auto
    margin-top: 140px
    background: url("../img/bg/contuct_us_bg.png"), linear-gradient(164.24deg, #E7EAEA 0%, #DFEAEA 100%);
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.24);
    background-size: cover
    background-repeat: no-repeat
    border-radius: 4px
    @media only screen and (max-width : 767px)
        margin-top: 380px
    .contact-us-lines
        width: 100vw
        height: 87px
        border: 1px solid #E2FF6C
        border-left: none
        border-right: none
        position: absolute
        left: 50%
        top: 190px
        transform: translate(-50%, -50%)
        z-index: -1
    .contact-us-content
        margin-left: 5.3%
        margin-top: 53px
        padding: 24px
        background-image: url("../img/bg/contuct_us_bg2.jpg")
        background-repeat: no-repeat
        background-position: left top
        min-height: 250px
        @media only screen and (max-width : 992px)
            margin-left: 15px
            padding-left: 17px
        h2
            text-align: left
            max-width: 482px
            @media only screen and (max-width : 1010px)
                max-width: 400px
            @media only screen and (max-width : 767px)
                max-width: 100%
            @media only screen and (max-width : 420px)
                font-size: 24px
        .contact-us-social
            +display_flex_row
            justify-content: flex-start
            align-items: center
            margin-top: 60px
            span
                text-transform: uppercase
                font-weight: bold
                letter-spacing: 2px
                font: normal 12px/1 'ProximaNovaBold'
                margin-right: 20px
                @media only screen and (max-width : 456px)
                    margin-bottom: 10px
.contuct-us-form
    position: absolute
    bottom: 40px
    right: 7.377%
    width: 100%
    max-width: 336px;
    height: 356px;
    background: linear-gradient(138.71deg, #E7EAEA 0%, #DFEAEA 100%)
    box-shadow: 0px 40px 24px rgba(0, 0, 0, 0.4)
    border-radius: 4px;
    padding: 16px 19px
    @media only screen and (max-width : 992px)
        right: 20px
        bottom: 65px
    @media only screen and (max-width : 767px)
        width: 95%
        right: 20px
        left: 50%
        transform: translateX(-50%)
        bottom: 280px
    @media only screen and (max-width : 582px)
        bottom: 320px
    @media only screen and (max-width : 456px)
        bottom: 360px
.wpcf7-validation-errors
    background: red
form.contuct-form, form.wpcf7-form
    +display_flex_column
    justify-content: flex-end
    height: 100%
    &>a
        padding: 18px 90px
        margin-top: 55px
    .field-wrap
        text-align: left
        padding: 8px
        +display_flex_row
        align-items: center
        justify-content: flex-start
        flex-wrap: nowrap
        border-bottom: 1px solid rgba(0, 0, 0, 0.38)
        margin-top: 20px
        &:hover
            border-color: rgba(0, 0, 0, 0.8)
            color: rgba(0, 0, 0, 0.8)
            ::placeholder
                color: black
                opacity: 0.8
        .field-icon
            +display_flex_row
            justify-content: center
            min-width: 18px
            margin-right: 16px
        input
            background: transparent
            border: none
            outline: none
    .privacy
        padding: 8px
        color: rgba(0, 0, 0, 0.6)
        input[type='checkbox']
            display: none
            & + label::before
                @extend %pseudo
                width: 16px
                height: 16px
                border: 1px solid rgba(0, 0, 0, 0.38)
                border-radius: 4px
                left:  0px
                top: 0
            &:checked + label::after
                &:checked::after
                @extend %pseudo
                width: 16px
                height: 16px
                background-image: url("../img/svg-icons/checked.svg")
                top: 0
                left: 1px
                background-repeat: no-repeat
                background-position: center center
        label
            display: block
            max-width: 254px
            position: relative
            padding-left: 34px
            margin-top: 35px
            a
                color: rgba(0, 0, 0, 0.87)
footer
    width: 100%
    max-width: 1022px
    margin-top: 40px
    margin: 0 auto
    margin-top: 40px
    .content
        border-top: 1px solid #C4C4C4
        padding: 40px 3%
        .footer-top
            +display_flex_row
            @media only screen and (max-width : 767px)
                flex-direction: column
                align-items: center
            .footer-logo, .footer-logo img
                max-width: 248px
                @media only screen and (max-width : 767px)
                    margin-bottom: 10px
        .footer-nav li
            margin: 0 20px
            padding-bottom: 7px
            @media only screen and (max-width : 767px)
                margin-bottom: 10px
            &:hover
                border-bottom: 1px solid #E2FF6C
        .footer-bottom
            +display_flex_row
            margin-top: 60px
            @media only screen and (max-width : 767px)
                flex-direction: column
                align-items: center
                margin-top: 20px
            .copy
                text-align: left
                @media only screen and (max-width : 767px)
                    text-align: center
                    margin-bottom: 20px
            .footer-social
                +display_flex_row
                @media only screen and (max-width : 767px)
                    display: block
                    text-align: center
                ul
                    @media only screen and (max-width : 767px)
                        margin-top: 5px
                span
                    margin-right: 33px
                    @media only screen and (max-width : 767px)
                        margin: 0
.arrow-wrap
    width: 40px
    height: 40px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    .arrow
        width: 40px
        height: 40px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 4px
        background: $dark_font
        transition: all .3s
    &:hover .arrow
        width: 32px
        height: 32px
video::-webkit-media-controls
    display: none !important
    -webkit-appearance: none !important
video::-webkit-media-controls-enclosure
    display: none !important
video::-webkit-media-controls, video::-moz-media-controls, video::-o-media-controls, video::-ms-media-controls
    display: none !important
.video
    width: 100%
    position: absolute
    min-height: 100vh
    height: 100%
    top: 0
    left: 0
    overflow: hidden
    z-index: -1
    .controls
        display: none

    //&:after
    //    @extend %pseudo
    //    width: 100%
    //    min-height: 100vh
    //    background-image: url("../img/bg/pattern.svg")
    //    background-repeat: no-repeat
    //    background-size: cover
    //    top: 0
    //    left: 0
    //    pointer-events: none
    video
        width: 100%
        min-height: 100vh
        height: 100%
        object-fit: cover
#team .owl-nav
    display: block !important
    margin: 10px 0 50px 0 !important
    .owl-prev, .owl-next
         width: 40px
         height: 40px
         border-radius: 4px
         display: flex !important
         align-items: center !important
         justify-content: center !important
         position: absolute
         overflow: hidden
         bottom: -20px
         outline: none
         background: transparent
         span
              display: flex !important
              align-items: center !important
              justify-content: center !important
              width: 40px
              height: 40px
              background: #364250
              border-radius: 4px
              transition: all .3s
              font-size: 20px
    .owl-prev
         left: calc(50% - 50px) !important
         &:hover
            bottom: -20px
            span
                transform: scale(.8)
                color: $hover_color
    .owl-next
         right: calc(50% - 50px) !important
         &:hover
            bottom: -20px
            span
                transform: scale(.8)
                color: $hover_color
#popup_wrapper
    background: rgba(0, 0, 0, 0.6)
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 99
    display: none

.portfolio-popup
    flex-wrap: nowrap
    position: relative
    max-height: 90vh
    .close
        position: absolute
        top: 15px
        right: 15px
        width: 30px
        height: 30px
        z-index: 100
        cursor: pointer
        background: #364250
        border-radius: 4px
        +display_flex_row
        align-items: center
        justify-content: center
        &:hover
            svg
                rect
                    fill: #E2FF6C
    .portfolio-popup-arrow-right
        position: absolute
        z-index: 2
        top: calc(50% - 44px)
        right: -20px
        &:hover .arrow
            right: -16px
        svg
            transform: rotate(180deg)
    .portfolio-popup-arrow-left
        position: absolute
        z-index: 2
        top: calc(50% + 4px)
        right: -20px
        &:hover .arrow
            right: -16px
.popup-content
    width: 100%
    min-height: 100%
    border-radius: 4px
    overflow: auto
.portfolio-popup-content
    box-shadow: 0px 18.1126px 36.2252px rgba(0, 0, 0, 0.24)
    background: white
    +display_flex_row
    flex-wrap: nowrap
    justify-content: flex-start
    min-height: 442px
    width: 1021px
    max-width: 90vw
    @media only screen and (max-width : 767px)
        flex-direction: column
        min-height: 335px
    img
        margin-right: -1px
        max-width: 428px
        max-height: 422px
        object-fit: contain
        @media only screen and (max-width : 992px)
            max-width: 33%
        @media only screen and (max-width : 767px)
            max-width: 100%
            margin: 0 auto
            margin-bottom: -4px
    .portfolio-popup-main
        +display_flex_column
        align-items: flex-start
        flex-wrap: nowrap
        padding: 100px 180px 100px 56px
        background: #DFEAEA
        color: rgba(0, 0, 0, 0.6)
        text-align: left
        width: 100%
        @media only screen and (max-width : 1139px)
            padding: 100px 80px 100px 50px;
        @media only screen and (max-width : 767px)
            padding: 5%
            min-height: 240px
        .portfolio-popup-description
            height: 80px
            overflow: auto
            @media only screen and (max-width : 480px)
                margin: 10px 0
        .portfolio-popup-links
            width: 100%
            +display_flex_row
            flex-wrap: nowrap
            @media only screen and (max-width : 480px)
                flex-direction: column
                align-items: center
                min-height: 80px
            a
                padding: 12px 30px
            a.btn
                color: rgba(0, 0, 0, 0.6)
                margin: 0

            a.btn-secondary
                background: transparent
                border-color: rgba(0, 0, 0, 0.38)
                border-radius: 4px
                color: rgba(0, 0, 0, 0.6)
                &:hover
                    border-color: $hover_color
                    background: $hover_color
        h3
            color: rgba(0, 0, 0, 0.87)
.popup
    display: none
    position: absolute
    @extend %center
    z-index: 100
    position: fixed
    border-radius: 4px
    max-width: 90%
    max-height: 90vh
.get-price-popup
    width: 90%
    max-width: 426px
    overflow: auto
    .get-price-popup-top
        width: 100%
        background-image: url("../img/bg/get-price-popup-bg.png")
        position: relative
        img
            margin: 69px 0 15px 0
        h3
            padding-bottom: 16px
            position: relative
            &:after
                @extend %pseudo
                width: 45px
                height: 1px
                background: $hover_color
                bottom: 0
                @extend %centered
        p
            padding: 16px 0 32px 0
        .close
            cursor: pointer
            position: absolute
            top: 24px
            right: 24px
            width: 21px
            height: 21px
            background-image: url("../img/svg-icons/close-popup-icon.svg")
            background-repeat: no-repeat
            background-position: center
    .get-price-popup-bottom
        background: linear-gradient(138.88deg, #E7EAEA 0%, #DFEAEA 100%), #C4C4C4
        padding: 30px 113px
        @media only screen and (max-width : 992px)
            padding: 30px 15%
.sent-form-popup
    width: 90%
    max-width: 426px
    overflow: auto
    .sent-form-popup-top
        width: 100%
        background-image: url("../img/bg/sent-form-popup-bg.png")
        position: relative
        img
            margin: 69px 0 111px 0
        .close
            cursor: pointer
            position: absolute
            top: 24px
            right: 24px
            width: 21px
            height: 21px
            background-image: url("../img/svg-icons/close-popup-icon.svg")
            background-repeat: no-repeat
            background-position: center
    .sent-form-popup-bottom
        background: linear-gradient(138.88deg, #E7EAEA 0%, #DFEAEA 100%), #C4C4C4
        padding: 30px 113px
        color: rgba(0, 0, 0, 0.87)
        @media only screen and (max-width : 1040px)
            padding: 30px 15%
        a
            width: 100%
            display: block
        h3
            padding-bottom: 16px
            position: relative
            &:after
                @extend %pseudo
                width: 45px
                height: 1px
                background: $dark_font
                bottom: 0
                @extend %centered
        p
            padding: 16px 0 114px 0
            @media only screen and (max-width : 992px)
                padding: 16px 0 15% 0
.mob-menu-btn
    background: rgba(0, 0, 0, 0.6)
    border-radius: 4px
    padding: 7px
    text-transform: uppercase
    font-size: 15px
    letter-spacing: 2px
    color: white
    position: fixed
    top: 15px
    left: 15px
    z-index: 3
    cursor: pointer
    +display_flex_row
    align-items: center
    img
        width: 27px
    @media only screen and (min-width : 768px)
        display: none
.mob-menu
    display: none
.mob-nav
    max-width: 60%
    position: fixed
    left: 15px
    top: 60px
    z-index: 3
    border-radius: 4px
    overflow: hidden
    ul
        +display_flex_column
        li
            background: rgba(0, 0, 0, 0.6)
            padding: 10px
            &:nth-child(4)
            padding-bottom: 15px
            a
                color: white
                padding-bottom: 5px
                &:hover
                    border-bottom: 1px solid #E2FF6C

.hidden
    display: none




@import "_media"